@model DLL_Backend.TRCajaSalida
@using AutomotoraWeb.Helpers;
@using DLL_Backend;



@*Tiene que estar arriba o no funciona la grilla devexpress*@
<script src="~/Scripts/AutomotoraWeb/SalidaCaja.js"></script>

@{
    ViewBag.Title = "Salida Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool cambiarSucursal = ViewBag.Multisucursal;
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <input type="hidden" name="idSession" id="idSession" value='@ViewData["idSession"]'/> 
    <input type="hidden" name="chequesIds" id="chequesIds" /> 
    
    <div class="dataLine">
        <div class="display-label">
            @Html.LabelForRequired(model => model.Sucursal)
        </div>
        <div class="editor-field editor-field-medium medium renglon-alto">
            @Html.DdlOrDisplayFor(model => model.Sucursal.Codigo, !cambiarSucursal, model => model.Sucursal.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursales", @class = "large" })
            @Html.ValidationMessageFor(model => model.Sucursal)
        </div>
    </div>
    <div class="clear-both"></div>
    
    <div class="dataLine">
        <div class="display-label ">
            @Html.LabelForRequired(model => model.Observaciones)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.TextBoxFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)

        </div>
    </div>
    <div class="clear-both"></div>
    
      <div class="well" style="margin-top: 10px; width: 1000px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#MPEfectivo_tab" data-toggle="tab">Efectivo</a></li>
            <li><a href="#MPCheques_tab" data-toggle="tab">Cheques</a></li>
        </ul>
        <div id="tabContentMetodoDePago" class="tab-content">
            <div class="tab-pane active in" id="MPEfectivo_tab">
               @Html.Partial("_grillaPagosEfectivo", Model.Pago.Efectivos)
            </div>
            <div class="tab-pane fade" id="MPCheques_tab">
                <div class="selection_form">
                    <div class="floatLeft" style="margin-right: 10px">
                        <div class="text">
                            Seleccionados:
                        </div>
                        <div>
                            @Html.DevExpress().ListBox(
            settings => {
                settings.Name = "SelectedRows";
                settings.Width = 120;
                settings.Height = 300;
                settings.Properties.EnableClientSideAPI = true;
            }).GetHtml()
                        </div>
                        <div class="text">
                            Cantidad:&nbsp;<strong id="count">0</strong>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="floatLeft" id="divGrillaCheques">
                        @Html.Partial("_selectChequeSalida", Cheque.ChequesRetirablesSucursal(Model.Sucursal))
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     
    <div class="btn-toolbar">
        <div class="floatLeft">
            @(Html.Bootstrap().Button().Id("btn_confirmar").Class("btn btn-primary icon-save").Text(" Confirmar"))
        </div>
    </div>
    <div class="clear-both"></div>
    
}

 <script type="text/javascript">
 function OnBeginCallback(s, e) {
    e.customArgs["idSession"] = '@ViewData["idSession"]';
    e.customArgs["idParametros"] = '@ViewData["idParametros"]';
 }
</script>