@model DLL_Backend.Vendedor
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.Sales.Maintenance;

<div class="display-label">
    @Html.LabelForRequired(model => model.Nombre)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Nombre, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.Direccion)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Direccion, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Direccion)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.Telefono)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Telefono, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Telefono)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.Mail)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Mail, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Mail)
</div>
<div class="clear-both"></div>

<div class="display-label editor-date-field">
    @Html.LabelForRequired(model => model.FechaIngreso)
</div>
<div class="editor-field editor-field-small">
    @Html.TextBoxOrdisplayFor(model => model.FechaIngreso, (bool?)ViewBag.SoloLectura, "{0:dd/MM/yyyy}", new { @class = "calendarAW" })
    @Html.ValidationMessageFor(model => model.FechaIngreso)
</div>
<div class="clear-both"></div>

<div class="display-label ">
    @Html.LabelForRequired(model => model.Observaciones)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { style = "width: 530px; height: 60px" })
    @Html.ValidationMessageFor(model => model.Observaciones)
</div>
<div class="clear-both"></div>

<div class="display-label ">
    @Html.LabelForRequired(model => model.Habilitado)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.CheckBoxOrDisplayFor(model => model.Habilitado, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Habilitado)
</div>
<div class="clear-both"></div>

<div class="espacio2"></div>


<!-- ===========  FOTO  =============== -->

@{ 
    if (ViewBag.SoloLectura == null || (bool?)ViewBag.SoloLectura == false) {
    
            <div class="editor-label ">
                @Html.LabelForRequired(model => model.Foto):
            </div>
            <div class="editor-field editor-field-xxlarge">
                <input id="fileInputFoto" type="file">
                <button id="uploadFileBtn" class="btn-default btn btn-primary" type="button">Subir Imagen</button>
                <button id="deleteFotoBtn" class="btn-default btn " type="button">Eliminar Imagen</button>
            </div>
            <div class="clear-both"></div>

            <div class="editor-label ">
                &nbsp;
            </div>
            <div class="editor-field ">
                  @if (Model==null || Model.Foto==null || Model.Foto.Trim()==""){
                    <img id="imgPhoto" src="~/Content/Images/ExampleImage.png" style="border: solid 1px #cccccc; max-height: 155px; max-width: 155px; padding:2px;" />
                } else {
                      if (Session[ VendedoresController.FILE_RANDOM_NAME] != null){
                            <img id="imgPhoto" src="~/Content/Images/tmp/@Model.Foto" style="border: solid 1px #cccccc; max-height: 155px; max-width: 155px; padding:2px;" />
                      }else{
                            <img id="imgPhoto" src="~/Content/Images/vendedores/@Model.Foto" style="border: solid 1px #cccccc; max-height: 155px; max-width: 155px; padding:2px;" />
                      }
                }
            </div>
            <div class="clear-both"></div>
            <div class="espacio2"></div>
    } else {
            <div class="display-label ">
                @Html.DisplayNameFor(model => model.Foto):
            </div>
            <div class="editor-field editor-field-xxlarge">
                <img id="imgPhoto" src="~/Content/Images/vendedores/@Model.Foto" style="border: solid 1px #cccccc; max-height: 155px; max-width: 155px; padding:2px;" />
            </div>
            <div class="clear-both"></div>
    
            <div class="espacio2"></div>
    }
}