@model AutomotoraWeb.Models.VendedorModel
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Vendedor.Codigo)

        @Html.Partial("_datosDetalle", Model)

        <div class="btn-toolbar">
            @(Html.Bootstrap().SubmitButton().Class("btn btn-primary").Text(" Guardar"))
            @(Html.Bootstrap().ActionLinkButton("Cancelar", "Cancelar").RouteValues(new{s=Model.idsesion, id=Model.Vendedor.Codigo}).Class("btn btn-default"))
        </div>
        <div class="clear-both"></div>

    </fieldset>
}


@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/VendedorMantenimiento.js"></script>
}
