@model DLL_Backend.Vendedor
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = " Vendedores: Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Codigo)

        <div class="editor-label">
            @Html.LabelForRequired(model => model.Nombre)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="clear-both"></div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.Direccion)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>
        <div class="clear-both"></div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.Telefono)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>
        <div class="clear-both"></div>

        <div class="editor-label editor-date-field">
            @Html.LabelForRequired(model => model.FechaIngreso)
        </div>
        <div class="editor-field editor-field-small">
            @Html.TextBoxFor(model => model.FechaIngreso, "{0:dd/MM/yyyy}", new { @class = "calendarAW" })
            @Html.ValidationMessageFor(model => model.FechaIngreso)
        </div>
        <div class="clear-both"></div>


        <div class="editor-label ">
            @Html.LabelForRequired(model => model.Observaciones)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.TextAreaFor(model => model.Observaciones, new { style="width: 530px; height: 60px" })
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>
        <div class="clear-both"></div>

        <div class="editor-label ">
            @Html.LabelForRequired(model => model.Habilitado)
        </div>  
        <div class="editor-field editor-field-xxlarge">
            @Html.CheckBoxFor(model => model.Habilitado)
            @Html.ValidationMessageFor(model => model.Habilitado)
        </div>
        <div class="clear-both"></div>

        <!-- ========================== -->

        <div class="editor-label ">
             @Html.DisplayNameFor(model => model.Foto):
        </div>
        <div class="editor-field editor-field-xxlarge">
            <input id="fileInputFoto" type="file">
            <button id="uploadFileBtn" class="btn-default btn btn-primary" type="button">Subir Imagen</button>
            <button id="deleteFotoBtn" class="btn-default btn " type="button">Eliminar Imagen</button>
        </div>
        <div class="clear-both"></div>

        <div class="editor-label ">
            &nbsp;
        </div>
        <div class="editor-field editor-field-xxlarge">
            @if (Model.Foto==null || Model.Foto.Trim()==""){
                 <img id="imgPhoto" src="~/Content/Images/ExampleImage.png" style="border: solid 1px #cccccc; max-height: 155px; max-width: 155px; padding:2px;" />
            } else {
                <img id="imgPhoto" src="~/Content/Images/vendedores/@Model.Foto" style="border: solid 1px #cccccc; max-height: 155px; max-width: 155px; padding:2px;" />
            }
        </div>
        
        <div class="clear-both"></div>
        
        <!-- ========================== -->

        <div class="espacio2"></div>
        <div class="btn-toolbar">
            @(Html.Bootstrap().SubmitButton().Class("btn btn-primary").Text(" Guardar"))
            @(Html.Bootstrap().ActionLinkButton("Cancelar", "Cancelar" ).Class("btn btn-default"))
        </div>
        <div class="clear-both"></div>

    </fieldset>
}


@section Scripts {
       <script type="text/javascript" src="/scripts/AutomotoraWeb/VendedorMantenimiento.js"></script>
}
