@model AutomotoraWeb.Models.MovimientosBancoModel
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;
@using AutomotoraWeb.Controllers.Bank;
@using AutomotoraWeb.Controllers.General;

 <div class="btn-toolbar">
        <div class="btn-group">
            @(Html.Bootstrap().ActionLinkButton("Agregar ", BaseController.CREATE ).RouteValues(new { id = Model.Cuenta.Codigo}).AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary))
        )
        </div>
        <div class="btn-group">
            <a class="btn btn-primary2-mf" title="Imprimir Listado" href='@Url.Action(BaseController.REPORT)'>Imprimir</a>
        </div>
    </div>

@Html.Partial("_listGrillaMovimientos", Model)

<script type="text/javascript">
    $(document).ready(function () {

        $(".boton-conciliar").live("click", function () {

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action("Conciliar", "Movimientos"))',
                type: 'POST',
                async: true,
                data: 'id=' + id,
                success: function (data) {
                    if (data.Result == "OK") {
                        grilla_movs.Refresh();
                    }
                    else {
                        general_showAvisoPopup(data.ErrorMessage);
                    }
                },
                error: general_showErrorPopup,
                beforeSend: showLoading,
                complete: hideLoading
            });
        });

        /* ============ */

        $(".boton-desconciliar").live("click", function () {

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action("Desconciliar", "Movimientos"))',
                type: 'POST',
                async: true,
                data: 'id=' + id,
                success: function (data) {
                    if (data.Result == "OK") {
                        grilla_movs.Refresh();
                    }
                    else {
                        general_showAvisoPopup(data.ErrorMessage);
                    }
                },
                error: general_showErrorPopup,
                beforeSend: showLoading,
                complete: hideLoading
            });
        });

@*        $(".boton-extornar").live("click", function () {

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action("Extornar", "Movimientos"))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                //success: function (data) {
                //    if (data.Result == "OK") {
                //        grilla_movs.Refresh();
                //    }
                //    else {
                //        general_showAvisoPopup(data.ErrorMessage);
                //    }
                //},
                error: general_showErrorPopup,
                beforeSend: showLoading,
                complete: hideLoading
            });
          });*@

        /* ================================================== */

        function _getId(elem) {
            var str = elem.attr("id");
            return str.split("_")[1];
        }
    });
</script>
