@model AutomotoraWeb.Models.SellerModel

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(AutomotoraWeb.Controllers.Sales.Maintenanse.SellersController.CREATE, AutomotoraWeb.Controllers.Sales.Maintenanse.SellersController.SELLERS, FormMethod.Post)) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")
   
    
    <div class="espacio"/>
    
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field editor-field-large">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field editor-field-large">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IngressDate)
        </div>
        <div class="editor-field editor-field-small">
            @Html.TextBoxFor(model => model.IngressDate, new { @class = "ayuda-calendario" })
            @Html.ValidationMessageFor(model => model.IngressDate)
        </div>

        <div class="editor-label ">
            @Html.LabelFor(model => model.Observations)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.EditorFor(model => model.Observations)
            @Html.ValidationMessageFor(model => model.Observations)
        </div>

        <div class="editor-label ">
            @Html.LabelFor(model => model.Enabled)
        </div>
        <div class="editor-field editor-field-xxlarge">
            @Html.CheckBoxFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </div>

        <div class="espacio2"></div>
        <div class="btn-toolbar">
            @(Html.Bootstrap().SubmitButton().Class("btn btn-primary icon-save").Text(" Guardar"))
            @(Html.Bootstrap().ActionLinkButton("Cancelar",AutomotoraWeb.Controllers.Sales.Maintenanse.SellersController.SHOW,AutomotoraWeb.Controllers.Sales.Maintenanse.SellersController.SELLERS).Class("btn btn-default"))
        </div>
        
       
    </fieldset>
}

@section Scripts {
    
}


