@model AutomotoraWeb.Models.ListadoCuotasValesModel
@using AutomotoraWeb.Controllers.Sales;
@using DLL_Backend;

@{
    ViewBag.Title = "Listado Cuotas Periodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadResources{
    @Html.Partial("_devExpressGrilla")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<style type="text/css">
    select {
        width: 130px;
    }

    .labelAjustable {
        margin-right: 5px;
    }

    .separacion {
        margin-right: 25px;
    }

    .labelWidth {
        width: 80px !important;
    }

    .inputTextWidth {
        width: 120px;
    }

    .selectWidth {
        width: 100px !important;
    }

    fieldset {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    legend {
        margin-bottom: 10px;
    }

        body {
        line-height:20px;
    }
</style>


@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.idParametros)
    @Html.HiddenFor(model => model.TipoListado)
    
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")      
    
    <div id="filtros" class="block" style="margin-right: 5px">
        <div class="btn-toolbar botoneraListado">
            <div class="btn-group">
                <input type="submit" id="Submit1" title="Listar" class="btn btn-primary" name="btnSubmit" value="Actualizar" />
            </div>
            <div class="btn-group" style="margin-left: 10px">
                <input type="submit" id="Submit2" class="btn btn-primary2-mf" name="btnSubmit" title="Imprimir" value="Imprimir" />
            </div>
        </div>
        <div id="containerLinea1">

            <div id="filtro_fechas" class="floatLeft">
                <fieldset id="fieldsetFecha">
                    <legend>Fecha Vencimiento</legend>
                    <div id="periodo" style="margin-top: 10px;">
                        <div id="containerDesde" class="floatLeft">
                            <div class="floatLeft" style="text-align: right; padding-right: 5px;">
                                <label>Desde</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small ">
                                @Html.TextBoxFor(model => model.Desde, "{0:dd/MM/yyyy}", new { id = "fdesde", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div id="containerHasta" class="floatLeft">
                            <div class="floatLeft" style="text-align: right; padding-right: 5px;padding-left:20px">
                                <label>Hasta</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small">
                                @Html.TextBoxFor(model => model.Hasta, "{0:dd/MM/yyyy}", new { id = "fhasta", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="filtro_financista" class="floatLeft">
                <fieldset id="fieldsetfinancista">
                    <legend>Financista</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarFinancista, new { id = "cb_filtrarFinancista" }) Filtrar Financista
                    </div>
                    <div style="margin-top: 10px;" id="financistas">
                        @Html.DropDownListFor(model => model.Filtro.Financista.Codigo, new SelectList(ViewBag.Financistas, "Codigo", "Nombre"), new { @class = "medium" })
                    </div>
                </fieldset>
            </div>
            <div class="clear-both"></div>

        </div>

    </div>
}


<div class="clear-both"></div>

<div id="divGrilla">
    @Html.Partial("_listSitCuotas", Model)
</div>

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/CuotasValesListado.js"></script>
}


