@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>
    <div class="display-label-90">
        @Html.LabelForRequired(model => model.Vehiculo)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodelVehiculo = new GridLookUpModel { Opciones = ViewBag.VehiculosVendibles, GridLookUpCodigo = Model.Vehiculo.Codigo };}
            @Html.Partial("_selectVehiculo", gmodelVehiculo)
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Vehiculo.Codigo)
        </div>
         <div class="floatLeft" style="padding-left: 20px;">
                <a href="#" id="abtn_VerVehiculo">
                    @Html.Bootstrap().Button().Class("btn btn-info btn-small").Text("Consulta Vehiculo").Id("btn_VerVehiculo")
                </a>
            </div>
        @Html.HiddenFor(model => model.Vehiculo.Codigo, new { id = "codigoVehiculo" })

    </div>
</div>

<div id="divDetalleVehiculo">
    @Html.Partial("_seleccionDeVehiculosDetalle", Model.Vehiculo)
</div>

<script type="text/javascript">

    var countLoading = 0;

    $(document).ready(function () {
        var codigoVehiculo = $("#codigoVehiculo").val();
        if (codigoVehiculo != "" && codigoVehiculo != "0") {
            _actualizarCondicionesDeVenta(codigoVehiculo);
            _actualizarSenia(codigoVehiculo);
            _actualizarACVs(codigoVehiculo);
        }
    });

    function vehiculoSelected(s, e) {
        var valor = s.GetRowKey(e.visibleIndex);
        $("#codigoVehiculo").val(valor);
        var idSession = $("#idSession").val();
        consultarDatosVehiculo(valor, idSession);

        if (valor) {
            $("#abtn_VerVehiculo").prop("href", "/vehiculos/details/" + valor);
        }
    }

    function consultarDatosVehiculo(codigo, idSession) {
        var destino = '@(Url.Action("VehiculoElegido", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#divDetalleVehiculo').html('');
                $('#divDetalleVehiculo').html(data);
                if ($("#vehiculoSeniado").val() == 'True') {
                    _actualizarCondicionesDeVenta(codigo);
                    _actualizarSenia(codigo);
                    _actualizarACVs(codigo);
                    _actualizarDetallesPagoSeniaACVs(codigo);
                    _actualizarMetodosDePago(codigo, idSession);
                } else {
                    _resetCondicionesDeVenta();
                    _resetSenia();
                    _resetACVs();
                    _resetDetallesPagoSeniaACVs();
                    _resetMetodosDePago(idSession);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    //===========================================================================
    //===========================================================================

    function _actualizarMetodosDePago(codigo, idSession) {
        var destino = '@(Url.Action("MetodosDePago", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo + '&idSession=' + idSession,
            success: function (data) {
                $('#containerMetodosDePago').html('');
                $('#containerMetodosDePago').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    function _resetMetodosDePago(idSession) {
        var destino = '@(Url.Action("MetodosDePago", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'idSession=' + idSession,
            success: function (data) {
                $('#containerMetodosDePago').html('');
                $('#containerMetodosDePago').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    //===========================================================================
    //===========================================================================

    function _actualizarCondicionesDeVenta(codigo) {
        var destino = '@(Url.Action("CondicionesDeVentaVehiculo", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#containerCondicionesDeVenta').html('');
                $('#containerCondicionesDeVenta').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    function _resetCondicionesDeVenta() {
        var destino = '@(Url.Action("ResetCondicionesDeVenta", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            success: function (data) {
                $('#containerCondicionesDeVenta').html('');
                $('#containerCondicionesDeVenta').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    //===========================================================================

    function _actualizarSenia(codigo) {
        var destino = '@(Url.Action("SeniaVehiculo", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#containerSenias').html('');
                $('#containerSenias').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    function _resetSenia() {
        $('#containerSenias').html('');
    }

    //===========================================================================

    function _actualizarACVs(codigo) {
        var destino = '@(Url.Action("ACVsVehiculo", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#containerACVs').html('');
                $('#containerACVs').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    function _resetACVs() {
        $('#containerACVs').html('');
    }

    //===========================================================================

    function _actualizarDetallesPagoSeniaACVs(codigo) {
        var destino = '@(Url.Action("DetallesPagoSeniaACVs", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#pagosSeniaACVsAcordionItemContainer').html('');
                $('#pagosSeniaACVsAcordionItemContainer').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    //===========================================================================

    function _resetDetallesPagoSeniaACVs() {
        var destino = '@(Url.Action("ResetDetallesPagoSeniaACVs", "Ventas"))';
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            success: function (data) {
                $('#pagosSeniaACVsAcordionItemContainer').html('');
                $('#pagosSeniaACVsAcordionItemContainer').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoadingVenta,
            complete: hideLoadingVenta
        });
    }

    //===========================================================================

    function showLoadingVenta() {
        countLoading++;
        showLoading();
    }

    function hideLoadingVenta() {
        countLoading--;
        if (countLoading <= 0) {
            hideLoading();
            countLoading = 0;
        }
    }

</script>