@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>
    <div class="display-label-90">
        @Html.LabelForRequired(model => model.Vehiculo)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodelVehiculo = new GridLookUpModel { Opciones = Vehiculo.Vehiculos(Vehiculo.VHC_TIPO_LISTADO.VENDIBLES), GridLookUpCodigo=Model.Vehiculo.Codigo };}
            @Html.Partial("_selectVehiculo", gmodelVehiculo )
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Vehiculo.Codigo)
        </div>
         <div class="floatLeft" style="padding-left: 20px;">
                <a href="#" id="abtn_VerVehiculo">
                    @Html.Bootstrap().Button().Class("btn btn-info btn-small").Text("Consulta Vehiculo").Id("btn_VerVehiculo")
                </a>
            </div>
        @Html.HiddenFor(model => model.Vehiculo.Codigo, new { id = "codigoVehiculo" })

    </div>
</div>

<div id="divDetalleVehiculo">
 @Html.Partial("_seleccionDeVehiculosDetalle", Model.Vehiculo)
</div>

<script type="text/javascript">

    function vehiculoSelected(s, e) {
        //alert("vehiculo elegido");
        //var g = gridVehiculos.GetGridView();  //obtener referencia a la grilla
        //var valor = g.GetRowKey(g.GetFocusedRowIndex()); //obtener el valor elegido

        var valor = s.GetRowKey(e.visibleIndex);
        $("#codigoVehiculo").val(valor);
        consultarDatosVehiculo(valor);

        if (valor) {
            $("#abtn_VerVehiculo").prop("href", "/vehiculos/details/" + valor);
        }
    }

    function consultarDatosVehiculo(codigo) {
        var destino = '@(Url.Action("VehiculoElegido", "Ventas"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#divDetalleVehiculo').html('');
                $('#divDetalleVehiculo').html(data);
                if ($("#vehiculoSeniado").val() == 'True') {
                    _actualizarCondicionesDeVenta(codigo);
                    _actualizarSenia(codigo);
                    _actualizarACVs(codigo);
                } else {
                    _resetCondicionesDeVenta();
                    _resetSenia();
                    _resetACVs();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    //===========================================================================

    function _actualizarCondicionesDeVenta(codigo) {
        var destino = '@(Url.Action("CondicionesDeVentaVehiculo", "Ventas"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#containerCondicionesDeVenta').html('');
                $('#containerCondicionesDeVenta').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    function _resetCondicionesDeVenta() {
        var destino = '@(Url.Action("ResetCondicionesDeVenta", "Ventas"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            success: function (data) {
                $('#containerCondicionesDeVenta').html('');
                $('#containerCondicionesDeVenta').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    //===========================================================================

    function _actualizarSenia(codigo) {
        var destino = '@(Url.Action("SeniaVehiculo", "Ventas"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#containerSenias').html('');
                $('#containerSenias').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    function _resetSenia() {
        $('#containerSenias').html('');
    }

    //===========================================================================

    function _actualizarACVs(codigo) {
        var destino = '@(Url.Action("ACVsVehiculo", "Ventas"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'id=' + codigo,
            success: function (data) {
                $('#containerACVs').html('');
                $('#containerACVs').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    function _resetACVs() {
        $('#containerACVs').html('');
    }

    //function refreshDatosVehiculo(data) {
    //    if (data.Result == "OK") {
    //        $("#vehiculoFicha").val(data.Vehiculo.Ficha);
    //        $("#vehiculoSucursal").val(data.Vehiculo.Sucursal);
    //        $("#vehiculoMarca").val(data.Vehiculo.Marca);
    //        $("#vehiculoModelo").val(data.Vehiculo.Modelo);
    //        $("#vehiculoAnio").val(data.Vehiculo.Anio);
    //        $("#vehiculoDepartamento").val(data.Vehiculo.Departamento);
    //        $("#vehiculoMatricula").val(data.Vehiculo.Matricula);
    //        $("#vehiculoPadron").val(data.Vehiculo.Padron);
    //        $("#vehiculoMotor").val(data.Vehiculo.Motor);
    //        $("#vehiculoChasis").val(data.Vehiculo.Chasis);
    //        $("#vehiculoPropietario").val(data.Vehiculo.Propietario);
    //        $("#vehiculoPrecioVenta").val(data.Vehiculo.PrecioVenta);
    //        $("#vehiculoColor").val(data.Vehiculo.Color);
    //        $("#vehiculoStatus").val(data.Vehiculo.DescripcionEstado);
    //        $("#vehiculoObservaciones").val(data.Vehiculo.Observaciones); 
    //    }
    //    else {
    //        general_showAvisoPopup("Error al obtener los datos del vehiculo: " + data.Codigo + " | " + data.ErrorMessage);
    //    }
        
    //}

</script>