@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>
    <div class="display-label-90">
        @Html.LabelForRequired(model => model.Vehiculo)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodelVehiculo = new GridLookUpModel { Opciones = Vehiculo.Vehiculos(Vehiculo.VHC_TIPO_LISTADO.VENDIBLES), GridLookUpCodigo=Model.Vehiculo.Codigo };}
            @Html.Partial("_selectVehiculo", gmodelVehiculo )
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Vehiculo.Codigo)
        </div>
        @Html.HiddenFor(model => model.Vehiculo.Codigo, new { id = "codigoVehiculo" })

    </div>
</div>

<div>
    @Html.HiddenFor(model => model.Vehiculo.Codigo)

    <div class="floatLeft" style="margin-right: 110px;">
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Ficha)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoFicha" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Marca)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoMarca" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Anio)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoAnio" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Matricula)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoMatricula" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Motor)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoMotor" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Propietario)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoPropietario" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.PrecioVenta)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoPrecioVenta" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
    </div>

    <div class="floatLeft">
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Sucursal.Nombre)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoSucursal" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Modelo)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoModelo" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Departamento)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoDepartamento" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Padron)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoPadron" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Chasis)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoChasis" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Color)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoColor" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
        <div class="dataLine">
            <div class="display-label-90">@Html.LabelForRequired(model => model.Vehiculo.Status)</div>
            <div class="editor-field editor-field-large renglon-alto"><input id="vehiculoStatus" value="" disabled="disabled" /></div>
            <div class="clear-both"></div>
        </div>
    </div>

    <div class="clear-both"></div>

    <div>
        <div class="dataLine">
            <div class="display-label-90 ">@Html.LabelForRequired(model => model.Observaciones)</div>
            <div class="editor-field editor-field-xxlarge"><textarea id="vehiculoObservaciones" style="width: 725px; height: 60px"  disabled="disabled"></textarea></div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function vehiculoSelected(s, e) {
        //alert("vehiculo elegido");
        //var g = gridVehiculos.GetGridView();  //obtener referencia a la grilla
        //var valor = g.GetRowKey(g.GetFocusedRowIndex()); //obtener el valor elegido

        var valor = s.GetRowKey(e.visibleIndex);
        $("#codigoVehiculo").val(valor);
        consultarDatosVehiculo(valor);
    }

    function consultarDatosVehiculo(codigo) {
        var destino = '@(Url.Action("details", "vehiculos"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'codigo=' + codigo,
            success: refreshDatosVehiculo,
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    function refreshDatosVehiculo(data) {
        if (data.Result == "OK") {
            $("#vehiculoFicha").val(data.Vehiculo.Ficha);
            $("#vehiculoSucursal").val(data.Vehiculo.Sucursal);
            $("#vehiculoMarca").val(data.Vehiculo.Marca);
            $("#vehiculoModelo").val(data.Vehiculo.Modelo);
            $("#vehiculoAnio").val(data.Vehiculo.Anio);
            $("#vehiculoDepartamento").val(data.Vehiculo.Departamento);
            $("#vehiculoMatricula").val(data.Vehiculo.Matricula);
            $("#vehiculoPadron").val(data.Vehiculo.Padron);
            $("#vehiculoMotor").val(data.Vehiculo.Motor);
            $("#vehiculoChasis").val(data.Vehiculo.Chasis);
            $("#vehiculoPropietario").val(data.Vehiculo.Propietario);
            $("#vehiculoPrecioVenta").val(data.Vehiculo.PrecioVenta);
            $("#vehiculoColor").val(data.Vehiculo.Color);
            $("#vehiculoStatus").val(data.Vehiculo.Status);
            $("#vehiculoObservaciones").val(data.Vehiculo.Observaciones); 
        }
        else {
            general_showAvisoPopup("Error al obtener los datos del vehiculo: " + data.Codigo + " | " + data.ErrorMessage);
        }
        
    }

</script>