@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>
    <div class="display-label">
        @Html.LabelForRequired(model => model.Vehiculo)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodel = new GridLookUpModel { Opciones = Vehiculo.Vehiculos(Vehiculo.VHC_TIPO_LISTADO.VENDIBLES), GridLookUpCodigo=Model.Vehiculo.Codigo };}
            @Html.Partial("_selectVehiculo", gmodel )
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Vehiculo.Codigo)
        </div>
        @Html.HiddenFor(model => model.Vehiculo.Codigo, new { id = "codigoVehiculo" })

    </div>
</div>

<div>
    @Html.HiddenFor(model => model.Vehiculo.Codigo)

    <div>
        <div class="display-label">
            @Html.LabelForRequired(model => model.Vehiculo.Ficha)
        </div>
        <div class="editor-field editor-field-large renglon-alto">
            <input id="vehiculoFicha" value="" disabled="disabled" />
        </div>
        <div class="clear-both"></div>

    </div>

</div>

<script type="text/javascript">

    function vehiculoSelected(s, e) {
        var g = gridVehiculos.GetGridView();  //obtener referencia a la grilla
        var valor = g.GetRowKey(g.GetFocusedRowIndex()); //obtener el valor elegido
        $("#codigoVehiculo").val(valor);

        consultarDatosVehiculo(valor)
    }

    function consultarDatosVehiculo(codigo) {
        var destino = '@(Url.Action("details", "vehiculos"))'
        $.ajax({
            url: destino,
            type: 'POST',
            async: true,
            data: 'codigo=' + codigo,
            success: refreshDatosVehiculo,
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }

    function refreshDatosVehiculo(data) {
        if (data.Result == "OK") {
            $("#vehiculoFicha").val(data.Vehiculo.Ficha);
        }
        else {
            general_showAvisoPopup("Error al obtener los datos del vehiculo: " + data.Codigo + " | " + data.ErrorMessage);
        }
        
    }

</script>