@model DLL_Backend.Venta

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <div class="well" style="margin-top: 10px; width: 950px; height: 490px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#MPEfectivo_tab" data-toggle="tab">Efectivo</a></li>
            <li><a href="#MPCheques_tab" data-toggle="tab">Cheques</a></li>
            <li><a href="#MPBanco_tab" data-toggle="tab">Banco</a></li>
            <li><a href="#MPFinanciacion_tab" data-toggle="tab">Financiacion</a></li>
            <li><a href="#MPVales_tab" data-toggle="tab">Vales</a></li>
            <li><a href="#MPPermuta_tab" data-toggle="tab">Permuta</a></li>
        </ul>
        <div id="tabContentMetodoDePago" class="tab-content">
            <div class="tab-pane active in" id="MPEfectivo_tab">
                @Html.Partial("_seleccionMPEfectivo", Model)
            </div>
            <div class="tab-pane fade" id="MPCheques_tab">
                @Html.Partial("_seleccionMPCheques", Model)
            </div>
            <div class="tab-pane fade" id="MPBanco_tab">
                @Html.Partial("_seleccionMPBanco", Model)
            </div>
            <div class="tab-pane fade" id="MPFinanciacion_tab">
                @Html.Partial("_seleccionMPFinanciacion", Model)
            </div>
            <div class="tab-pane fade" id="MPVales_tab">
                @Html.Partial("_seleccionMPVales", Model)
            </div>
            <div class="tab-pane fade" id="MPPermuta_tab">
                @Html.Partial("_seleccionMPPermuta", Model)
            </div>
        </div>
    </div>
}