@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>

    <div>
        <div class="display-label-90">
            @Html.LabelForRequired(model => model.Cliente)
        </div>
        <div class="renglon-alto editor-field-xlarge">
            <div class="floatLeft">
                @{GridLookUpModel gmodelCliente = new GridLookUpModel { Opciones = Cliente.Clientes(), GridLookUpCodigo=Model.Cliente.Codigo };}
                @Html.Partial("_selectCliente", gmodelCliente )
            </div>
            <div class="floatLeft" style="margin-left: 5px">
                @Html.ValidationMessageFor(model => model.Cliente.Codigo)
            </div>
            @Html.HiddenFor(model => model.Cliente.Codigo, new { id = "codigoCliente" })
        </div>
    </div>

    <div>
        @Html.HiddenFor(model => model.Cliente.Codigo)
    </div>

    <style type="text/css">
        .display-label-cliente {
            width: 90px !important;
        }
        .dataLine {
            margin-top: 8px;
        }
    </style>

    <script type="text/javascript">

        function clienteSelected(s, e) {
            //var g = gridClientes.GetGridView();  //obtener referencia a la grilla
            //var valor = g.GetRowKey(g.GetFocusedRowIndex()); //obtener el valor elegido
            var valor = s.GetRowKey(e.visibleIndex);
            $("#codigoCliente").val(valor);
        }

    </script>

</div>
