@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>

    <div>
        <div class="display-label-90">
            @Html.LabelForRequired(model => model.Vendedor)
        </div>
        <div class="renglon-alto editor-field-xlarge">
            <div class="floatLeft">
                @{GridLookUpModel gmodelVendedor = new GridLookUpModel { Opciones = Vendedor.Vendedores(Vendedor.VEND_TIPO_LISTADO.HABILITADOS), GridLookUpCodigo=Model.Vendedor.Codigo };}
                @Html.Partial("_selectVendedor", gmodelVendedor )
            </div>
            <div class="floatLeft" style="margin-left: 5px">
                @Html.ValidationMessageFor(model => model.Vendedor.Codigo)
            </div>
            @Html.HiddenFor(model => model.Vendedor.Codigo, new { id = "codigoVendedor" })
        </div>
    </div>

    <div>
        @Html.HiddenFor(model => model.Vendedor.Codigo)
    </div>

    <script type="text/javascript">

        function vendedorSelected(s, e) {
            var g = gridVendedores.GetGridView();  //obtener referencia a la grilla
            var valor = g.GetRowKey(g.GetFocusedRowIndex()); //obtener el valor elegido
            $("#codigoVendedor").val(valor);
        }

    </script>

</div>
