@model DLL_Backend.Venta
@using AutomotoraWeb.Controllers.General;
@using DLL_Backend;
@using AutomotoraWeb.Controllers.Sales;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResources{
    @Html.Partial("_devExpressGrilla")
}

<style type="text/css">
    .botonDocumento {
        margin-right:10px;
    }
</style>

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@{ if (Model==null || Model.Codigo==0){
       return;
}}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {

    <div class="block">
        <div >
           <p class="block-heading"> Acciones</p>
        </div>
        <div class="block-body">
            @Html.Bootstrap().ActionLinkButton("Comprobante", "DocComprobanteVenta", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-default botonDocumento")
            @{
                if (Model.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "CV_VENTA" })) {
                    @Html.Bootstrap().ActionLinkButton("Compromiso Compraventa", "DocCompromisoVenta", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-default botonDocumento")
                }
                if (Model.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "CUOTA_VENTA" })) {
                    @Html.Bootstrap().ActionLinkButton("Conformes", "DocConformesVenta", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-default botonDocumento")
                }
                 if (Model.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "CUPONES_VENTA" })) { 
                    @Html.Bootstrap().ActionLinkButton("Cupones", "DocCuponesVenta", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-default botonDocumento")
                }
                if (Model.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "TITULO_VENTA" })) {
                    @Html.Bootstrap().ActionLinkButton("Titulo", "DocTituloVenta", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-default botonDocumento")
                 }
                 if (Model.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "VALE_VENTA" })) {
                    @Html.Bootstrap().ActionLinkButton("Vales", "DocValesVenta", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-default botonDocumento")

                }
            
                @Html.Bootstrap().ActionLinkButton("Consulta Vehiculo", "Details", VehiculosController.CONTROLLER).RouteValues(new { id = Model.Vehiculo.Codigo }).Class("btn btn-info botonDocumento")

                if (Model.Anulable()){
                    @Html.Bootstrap().ActionLinkButton("Anular Venta", "Anular", VentasController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary botonDocumento")
                }
                if (Model.Entregable()){
                    @Html.Bootstrap().ActionLinkButton("Entregar Vehiculo", "Entregar", VentasController.CONTROLLER).RouteValues(new { id = Model.Vehiculo.Codigo }).Class("btn btn-primary botonDocumento")
                }

        }
        </div>
    </div>
    
     <div id="divDetalleVenta">
         @Html.Partial("_detallesVenta", Model);
    </div>

}