@model DLL_Backend.Venta
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Models;
@using DLL_Backend;

@{
    ViewBag.Title = "Venta de Vehículo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    GridLookUpModel gmodel = new GridLookUpModel { Opciones = Vehiculo.Vehiculos(Vehiculo.VHC_TIPO_LISTADO.VENDIBLES) };
    if (Model.Vehiculo != null) {
        gmodel.GridLookUpCodigo = Model.Vehiculo.Codigo;
    }
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>
@using (Html.BeginForm("VentaVehiculo", "Ventas", FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:", new {id="txErrores" })

    <input type="hidden" name="idSession" id="idSession" value='@ViewData["idSession"]'/> 
    <input type="hidden" name="hayPermuta" id="hayPermuta" />
    
    <div>
        <div class="display-label">Vehiculo</div>
        <div class="floatLeft">
            @Html.Partial("_selectVehiculoVender", gmodel)
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Vehiculo.Codigo)
        </div>
        <div class="floatLeft" style="padding-left: 20px;">
                <a href="#" id="abtn_VerVehiculo">
                    @Html.Bootstrap().Button().Class("btn btn-info btn-small").Text("Consulta Vehiculo").Id("btn_VerVehiculo")
                </a>
            </div>
            @Html.HiddenFor(model => model.Vehiculo.Codigo, new { id = "codigoVehiculo" })
    </div>
    <div class="clear-both"></div>
    <div id="divDetalleVenta">
        @Html.Partial("_detallesVenta", Model)
    </div>
    
    <div class="btn-toolbar floatRight">    
        @(Html.Bootstrap().Button().Class("btn btn-primary icon-save").Text("Confirmar Venta").Id("btnConfirmarVenta"))
    </div>
    
}

<script type="text/javascript">

    $(document).ready(function () {
        var valor = $("#codigoVehiculo").val();
        //alert(valor);
        if (!valor || valor==0) {
            $('#btnConfirmarVenta').hide();
        }
    });

   function vehiculoSelected(s, e) {
       var valor = s.GetRowKey(e.visibleIndex);
       $("#codigoVehiculo").val(valor);
       $('#divDetalleVenta').html('');
       $('#txErrores').html('');


       if (!valor) {
           return;
       }
       $("#abtn_VerVehiculo").prop("href", "/vehiculos/details/" + valor);
       $('#btnConfirmarVenta').show();
        
        var destino = '/ventas/VehiculoVentaSelected/';
        $.ajax({
            cache: false,
            type: "GET",
            url: destino,
            data: { "idVehiculo": valor, "idSession": $('#idSession').val() },
            success: function (data) {
                $('#divDetalleVenta').html(data);
                reajustarControles();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
   }

      $("#btnConfirmarVenta").click(function () {
          var hayPerm = $('#existePermutaCheckBox').prop('checked')
          //alert(hayPerm);
          //alert($('#idSession').val());
        if (hayPerm) {
            $('#hayPermuta').val(1);
        } else {
            $('#hayPermuta').val(0);
        }
        //$("form").attr("action", '@Url.Action("ventaVehiculo", "ventas")');
          $('form#formPrincipal').submit();
    });

    </script>