@model DLL_Backend.Venta
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = "Venta de Vehículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well" style="margin-top: 10px; width: 1000px; height: 630px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#vehiculos_tab" data-toggle="tab">Vehiculo</a></li>
        <li><a href="#condiciones_de_venta_tab" data-toggle="tab">Condiciones de Venta</a></li>
        <li><a href="#metodos_de_pago_tab" data-toggle="tab">Métodos de Pago</a></li>
        <li><a href="#senias_y_ACVs_tab" data-toggle="tab">Señas y ACVs</a></li>
    </ul>
    <div id="tabContentVentaDeVehiculo" class="tab-content">
        <div class="tab-pane active in" id="vehiculos_tab">
            <div style="height: 545px;">
                @Html.Partial("_seleccionDeVehiculos", Model)
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnNextVehiculo" type="button">Siguiente</button>
            </div>
        </div>
        <div class="tab-pane fade" id="condiciones_de_venta_tab">
            <div style="height: 545px;">
                @Html.Partial("_seleccionDeCondicionesDeVenta", Model)
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnNextCondicionesDeVenta" type="button">Siguiente</button>
            </div>
        </div>
        <div class="tab-pane fade" id="metodos_de_pago_tab">
            <div style="width:950px; height: 535px;">
                @Html.Partial("_seleccionDeMetodosDePago", Model)
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnNextMetodosDePago" type="button">Siguiente</button>
            </div>
        </div>
        <div class="tab-pane fade" id="senias_y_ACVs_tab">
            <div style="height: 545px;">
                @Html.Partial("_seleccionDeSeñasACVs", Model)
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnFinalizarVenta" type="button">Finalizar Venta</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm-venta" style="display:none;">
    <div>Confirme la venta</div>
    <div id="loadingContainer" style="display: none; position: absolute; top: 500px; right: 0; bottom: 0; left: 0; z-index: 13;">
        <div style="margin: 0 auto; width: 80px; height: 80px; border: solid 1px black; background-color: white; text-align: center; padding: 8px;">
            <div>
                <img src="~/Content/Images/loading_blue_lg.gif" />
            </div>
            <div>
                loading...
            </div>
        </div>
    </div>
    <div id="messageErrorVenta" style="color: red;">

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            
        });

        $("#metodos_de_pago_tab").click(function () {
            //activaTab('MPEfectivo_tab');
        });

        $("#btnNextVehiculo").click(function () {
            activaTab('condiciones_de_venta_tab');
        });

        function activaTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };

        //------------------------------------------------------

        $("#btnFinalizarVenta").click(function () {

            $("#dialog-confirm-venta").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "Confirmar Venta": function () {
                        $(this).dialog("close");
                        _confirmarVenta();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

        });

        function _confirmarVenta() {
            var idSession = '@ViewData["idSession"]';

            var urlAction = '@(Url.Action("finalizarVenta", "ventas"))';

            $("#loadingContainer").show();

            $.ajax({
                url: urlAction,
                type: 'POST',
                async: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: getJsonVenta(),
                success: function (data) {
                    $("#loadingContainer").close();
                    if (data.Result == "OK") {
                        // redirect a listado de ventas
                        window.location.href = '@(Url.Action("list", "ventas"))';
                    }
                    else {
                        var htmlError = "";
                        for (var i = 0; i < data.ErrorMessage.length; i++) {
                            htmlError = htmlError + "<div>" + data.ErrorMessage[i] + "</div>";
                        }
                        $("#messageErrorVenta").html(htmlError);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#loadingContainer").close();
                    var htmlError = textStatus + " - " + errorThrown;
                    $("#messageErrorVenta").html(htmlError);
                }
            });
        }

        function getJsonVenta(){

            var idSession = '@(ViewData["idSession"])';

            var venta = {
                idSession: idSession,
                codigoVehiculo: $("#codigoVehiculo").val(),
                condVentaCodigoCliente: $("#ddlClientes").val(),
                condVentaCodigoVendedor: $("#ddlVendedores").val(),
                condVentaFecha: $("#Fecha").val(),
                condVentaCodigoMoneda: $("#ddlImporteMoneda").val(),
                condVentaMonto: $("#txImporteMonto").val(),
                condVentaCodigoSucursal: $("#ddlSucursal").val(),
                condVentaVehiculoEntregado: $("#checkBoxVentaVehiculoEntregado").val(),
                condVentaFechaEntrega: $("#datePikerVentaVehiculoFechaEntrega").val(),
                condVentaObservaciones: $("#Observaciones").val()
            };

            return JSON.stringify(venta);
        }

       /* function general_showPopup(data, idContainer, valueHeight, valueWidth) {
            $("#" + idContainer + "Form").html(data);
            $("#" + idContainer).dialog({
                height: valueHeight,
                width: valueWidth,
                modal: true
            });

            $('.calendarAW').datepicker({
                changeMonth: true,
                dateFormat: "dd/mm/yy",
                changeYear: true,
                showAnim: 'slideDown',
                yearRange: '1900:2100'
            });
        }

        function general_closePopup(idContainer) {
            $("#" + idContainer).dialog("close");
            $("#" + idContainer + "Form").html("");
        }

        //Se comenta este. La idea es usuar el siguiente, al que hay indicarle de donde viene el error para tener mas informacion
        //function general_showErrorPopup(jqXHR, textStatus, errorThrown) {
        //    alert("Se ha producido un error: " + textStatus + " | " + errorThrown);
        //}

        function general_showErrorPopup(jqXHR, textStatus, errorThrown, metodoInvocado) {
            alert("Se ha producido un error: " + textStatus + " | " + errorThrown + " | " + metodoInvocado);
        }*/
        
    </script>
}
