@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Helpers;

@if ((Model != null) && (Model.Ficha == null)) {
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Ficha)
    </div>
    <div class="editor-field editor-field-large">
        <span style="color: red">NUEVO</span>
    </div>
    <div class="clear-both"></div>
}
else{
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Ficha)
    </div>
    <div class="editor-field editor-field-large">
        @Html.EditorOrDisplayFor(model => model.Ficha, (bool?)ViewBag.SoloLectura)
        @Html.ValidationMessageFor(model => model.Ficha)
    </div>
    <div class="clear-both"></div>
}


<div class="display-label ">
    @Html.DisplayNameFor(model => model.Sucursal)
</div>
<div class="editor-field editor-field-large">
    @Html.DdlOrDisplayFor(model => model.Sucursal, (bool?)ViewBag.SoloLectura,
                model => model.Sucursal,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null, new { id = "ddlSucursal" })
    @Html.ValidationMessageFor(model => model.Sucursal)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Marca)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Marca, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Marca)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Modelo)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Modelo, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Modelo)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Anio)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Anio, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Anio)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Matricula)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Matricula, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Matricula)
</div>
<div class="clear-both"></div>

<div class="display-label ">
    @Html.DisplayNameFor(model => model.Departamento)
</div>
<div class="editor-field editor-field-large">
    @Html.DdlOrDisplayFor(model => model.Departamento, (bool?)ViewBag.SoloLectura,
                model => model.Departamento,
                new SelectList(ViewBag.Departamentos, "Codigo", "Nombre"), null, new { id = "ddlDepartamento" })
    @Html.ValidationMessageFor(model => model.Departamento)
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.DisplayNameFor(model => model.Color)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Color, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Color)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Padron)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Padron, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Padron)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Motor)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Motor, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Motor)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Chasis)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Chasis, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Chasis)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Kilometros)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Kilometros, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Kilometros)
</div>
<div class="clear-both"></div>

<div class="display-label ">
    @Html.DisplayNameFor(model => model.TipoCombustible)
</div>
<div class="editor-field editor-field-large">
    @Html.DdlOrDisplayFor(model => model.TipoCombustible, (bool?)ViewBag.SoloLectura,
                model => model.TipoCombustible,
                new SelectList(ViewBag.TiposCombustible, "Codigo", "Descripcion"), null, new { id = "ddlTipoCombustible" })
    @Html.ValidationMessageFor(model => model.TipoCombustible)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.FechaAdquirido)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.FechaAdquirido, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.FechaAdquirido)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Costo)
</div>
<div class="editor-field editor-field-small">
    @Html.DdlOrDisplayFor(model => model.Costo.Moneda, (bool?)ViewBag.SoloLectura,
                model => model.Costo.Moneda,
                new SelectList(ViewBag.Monedas, "Codigo", "Nombre"), null, new { id = "ddlMonedaCosto", styl="width: 10px;" })
    @Html.EditorOrDisplayFor(model => model.Costo.Monto, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Costo.Monto)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Propietario)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Propietario, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Propietario)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.TotalGastos)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.TotalGastos, true)
    @Html.ValidationMessageFor(model => model.TotalGastos)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.PrecioVenta)
</div>
<div class="editor-field editor-field-small">
    @Html.DdlOrDisplayFor(model => model.PrecioVenta.Moneda, (bool?)ViewBag.SoloLectura,
                model => model.Costo.Moneda,
                new SelectList(ViewBag.Monedas, "Codigo", "Nombre"), null, new { id = "ddlMonedaPrecioVenta" })
    @Html.EditorOrDisplayFor(model => model.PrecioVenta.Monto, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.PrecioVenta.Monto)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Status)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Status, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Status)
</div>
<div class="clear-both"></div>


<div class="display-label ">
    @Html.DisplayNameFor(model => model.Observaciones)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { style = "width: 530px; height: 60px" })
    @Html.ValidationMessageFor(model => model.Observaciones)
</div>
<div class="clear-both"></div>

<div class="espacio2"></div>
