@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Controllers.Sales.Maintenance;
@using DLL_Backend;

<div class="row-fluid">

    @Html.HiddenFor(model => model.Codigo, new { id = "idVehiculo"})

    <div class="btn-toolbar">
        <div class="btn-group">
            @if ((ViewBag.SoloLectura != null) && (!(bool)ViewBag.SoloLectura)){
                @(Html.Bootstrap().Button().Text("Agregar").Id("createDetailsGasto").AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary))
            }
        )
        </div>
    </div>
       
    <div id="divGrillaGastos">
        @if (Model != null){
            @Html.Partial("_listGastos", Model.DetalleGastos)
        }
        else{
            @Html.Partial("_listGastos", new List<Gasto>())
        }
         
    </div>

    <div id="containerCreateGastosPopup" title="Crear Gasto" style="display: none;">
        <div id="containerCreateGastosPopupForm">

        </div>
        <div>
            <div class="floatLeft">
                @(Html.Bootstrap().Button().Text("Guardar").Id("saveCreateGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
                @(Html.Bootstrap().Button().Text("Cancelar").Id("cancelCreateGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorCreateGasto" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
    
    <div id="containerDetailsGastosPopup" title="Detalles de Gasto" style="display: none;">
        <div id="containerDetailsGastosPopupForm">

        </div>
        <div>
            <div class="floatLeft">
                @(Html.Bootstrap().Button().Text("Cerrar").Id("closeDetailsGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorDetailGasto" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>

    <div id="containerEditGastosPopup" title="Editar Gasto" style="display: none;">
        <div id="containerEditGastosPopupForm">

        </div>
        <div>
            <div class="floatLeft">
                @(Html.Bootstrap().Button().Text("Guardar").Id("saveEditGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
                @(Html.Bootstrap().Button().Text("Cancelar").Id("cancelEditGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorEditGasto" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>

    <div id="containerDeleteGastosPopup" title="Eliminar Gasto" style="display: none;">
        <div id="containerDeleteGastosPopupForm">

        </div>
        <div>
            <div class="floatLeft">
                @(Html.Bootstrap().Button().Text("Eliminar").Id("deleteGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
                @(Html.Bootstrap().Button().Text("Cancelar").Id("cancelDeleteGasto").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorDeleteGasto" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        /* ========================================= */

        $("#createDetailsGasto").live("click", function () {

            $("#messageErrorCreateGasto").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CREATE_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'idVehiculo=' + $("#idVehiculo").val(),
                success: showCreateGastosPopup,
                error: general_showErrorPopup
            });

        });

        $(".boton-consultar-mf").live("click", function () {

            $("#messageErrorDetailGasto").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.DETAIL_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                success: showDetailsGastosPopup,
                error: general_showErrorPopup
            });
        });

        $(".boton-editar-mf").live("click", function () {

            $("#messageErrorEditGasto").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.EDIT_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                success: showEditGastosPopup,
                error: general_showErrorPopup
            });

        });

        $(".boton-eliminar-mf").live("click", function () {

            $("#messageErrorDeleteGasto").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.DELETE_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                success: showDeleteGastosPopup,
                error: general_showErrorPopup
            });

        });

        /* ================================================== */
        /* ======== Eventos de botones en Popups ============ */
        /* ================================================== */

        function _eventClickAction(urlAction, containerPopup, containerErrorMessage) {
            $.ajax({
                url: urlAction,
                type: 'POST',
                async: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: getJsonGasto(),
                success: function (data) {
                    if (data.Result == "OK") {
                        general_closePopup(containerPopup);
                        gridGastos.Refresh(); // Se actualiza la grilla
                    }
                    else {
                        var htmlError = "";
                        for (var i = 0; i < data.ErrorMessage.length; i++) {
                            htmlError = htmlError + "<div>" + data.ErrorMessage[i] + "</div>";
                        }
                        $("#" + containerErrorMessage).html(htmlError);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    general_showErrorAction(containerErrorMessage, textStatus, errorThrown);
                }
            });
        }

        $("#saveCreateGasto").live("click", function () {
            var urlAction = '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CREATE_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))';
            _eventClickAction(urlAction, "containerCreateGastosPopup", "messageErrorCreateGasto");
        });
        
        $("#cancelCreateGasto").live("click", function () {
            general_closePopup("containerCreateGastosPopup");
        });

        $("#closeDetailsGasto").live("click", function () {
            general_closePopup("containerDetailsGastosPopup");
        });

        $("#saveEditGasto").live("click", function () {
            var urlAction = '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.EDIT_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))';
            _eventClickAction(urlAction, "containerEditGastosPopup", "messageErrorEditGasto");
        });

        $("#cancelEditGasto").live("click", function () {
            general_closePopup("containerEditGastosPopup");
        });
        
        $("#deleteGasto").live("click", function () {
            var urlAction = '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.DELETE_GASTO, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))';
            _eventClickAction(urlAction, "containerDeleteGastosPopup", "messageDeleteEditGasto");
        });

        $("#cancelDeleteGasto").live("click", function () {
            general_closePopup("containerDeleteGastosPopup");
        });

        /* ================================================== */

        function getJsonGasto() {
            var gasto = {
                Codigo: $("#hiddenCodioGasto").val(),
                Fecha: $("#txtFechaGasto").val(),
                ImporteGasto: {
                    Moneda: {
                        Codigo: $("#ddlMonedaImporteGasto").val()
                    },
                    Monto: $("#ImporteGasto_Monto").val()
                },
                Descripcion: $("#txtDescripcionGasto").val(),
                Observaciones: $("#txtObservacionesGasto").val(),
                Vehiculo: {
                    Codigo: $("#idVehiculo").val()
                }
            };

            return JSON.stringify(gasto);
        }

        /* ================================================== */
        
    });

    function _getId(elem) {
        var str = elem.attr("id");
        return str.split("_")[1];
    }

    /* ================================================== */

    function showCreateGastosPopup(data){
        general_showPopup(data, "containerCreateGastosPopup", 350, 760); 
    }

    function showDetailsGastosPopup(data){
        general_showPopup(data, "containerDetailsGastosPopup", 350, 760);
    }

    function showEditGastosPopup(data){
        general_showPopup(data, "containerEditGastosPopup", 350, 760);
    }

    function showDeleteGastosPopup(data){
        general_showPopup(data, "containerDeleteGastosPopup", 350, 760);
    }

    /* ================================================== */

</script>
