@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Controllers.Sales.Maintenance;
@using DLL_Backend;
@using System.Globalization;

@{
    bool modoConsulta=(((bool?)(ViewBag.SoloLectura))??false);
 }

<div class="row-fluid">
    @Html.HiddenFor(model => model.Codigo, new { id = "idVehiculoDocumentacion"})

    <div class="btn-toolbar">
        <div class="btn-group">
            @if (!modoConsulta) {
                @(Html.Bootstrap().Button().Text("Agregar").Id("createDetailsDocumentacion").AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary))
            }
        )
        </div>
    </div>

    <div id="divGrillaDocumentos">
        @if (Model != null){
            @Html.Partial("_listDocumentos", Model.Documentacion)
        }
        else{
            @Html.Partial("_listDocumentos", new List<DocAuto>())
        }
    </div>

    <div id="containerCreateDocumentacionPopup" title="Agregar Documento" style="display: none;">
        <div id="containerCreateDocumentacionPopupForm">

        </div>
        <div>
            <div class="floatLeft">
                @(Html.Bootstrap().Button().Text("Guardar").Id("saveCreateDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
                @(Html.Bootstrap().Button().Text("Cancelar").Id("cancelCreateDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorCreateDocumentacion" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>

    <div id="containerDetailsDocumentacionPopup" title="Detalles de Documentación" style="display: none;">
        <div id="containerDetailsDocumentacionPopupForm">

        </div>
        <div>
            <div class="floatLeft" style="margin-top: 15px;">
                @(Html.Bootstrap().Button().Text("Cerrar").Id("closeDetailsDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorDetailDocumentacion" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>

    <div id="containerEditDocumentacionPopup" title="Editar Documentación" style="display: none;">
        <div id="containerEditDocumentacionPopupForm">

        </div>
        <div>
            <div class="floatLeft">
                @(Html.Bootstrap().Button().Text("Guardar").Id("saveEditDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
                @(Html.Bootstrap().Button().Text("Cancelar").Id("cancelEditDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorEditDocumentacion" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>

    <div id="containerDeleteDocumentacionPopup" title="Eliminar Documentación" style="display: none;">
        <div id="containerDeleteDocumentacionPopupForm">

        </div>
        <div>
            <div class="floatLeft" style="margin-top: 15px;">
                @(Html.Bootstrap().Button().Text("Eliminar").Id("deleteDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
                @(Html.Bootstrap().Button().Text("Cancelar").Id("cancelDeleteDocumentacion").Style(TwitterBootstrap2.ButtonStyle.Primary))
            </div>
            <div class="floatLeft">
                <div id="messageErrorDeleteDocumentacion" style="margin-left: 15px; color: red;"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        /* ========================================= */

        $("#createDetailsDocumentacion").live("click", function () {

            $("#messageErrorCreateDocumentacion").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CREATE_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'idVehiculo=' + $("#idVehiculoDocumentacion").val(),
                success: showCreateDocumentacionPopup,
                error: general_showErrorPopup
            });

        });

        $(".boton-consultar-doc").live("click", function () {

            $("#messageErrorDetailDocumentacion").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.DETAILS_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                success: showDetailsDocumentacionPopup,
                error: general_showErrorPopup
            });
        });

        $(".boton-editar-doc").live("click", function () {

            $("#messageErrorEditDocumentacion").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.EDIT_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                success: showEditDocumentacionPopup,
                error: general_showErrorPopup
            });

        });

        $(".boton-eliminar-doc").live("click", function () {

            $("#messageErrorDeleteDocumentacion").html("");

            var id = _getId($(this));

            $.ajax({
                url: '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.DELETE_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))',
                type: 'GET',
                async: true,
                data: 'id=' + id,
                success: showDeleteDocumentacionPopup,
                error: general_showErrorPopup
            });

        });

        /* ================================================== */
        /* ======== Eventos de botones en Popups ============ */
        /* ================================================== */

        function _eventClickActionDocumentacion(urlAction, containerPopup, containerErrorMessage) {
            $.ajax({
                url: urlAction,
                type: 'POST',
                async: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: getJsonDocumentacion(),
                success: function (data) {
                    if (data.Result == "OK") {
                        general_closePopup(containerPopup);
                        gridDocumentos.Refresh(); // Se actualiza la grilla
                    }
                    else {
                        var htmlError = "";
                        for (var i = 0; i < data.ErrorMessage.length; i++) {
                            htmlError = htmlError + "<div>" + data.ErrorMessage[i] + "</div>";
                        }
                        $("#" + containerErrorMessage).html(htmlError);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    general_showErrorAction(containerErrorMessage, textStatus, errorThrown);
                }
            });
        }


        $("#saveCreateDocumentacion").live("click", function () {
            var urlAction = '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CREATE_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))';
            _eventClickActionDocumentacion(urlAction, "containerCreateDocumentacionPopup", "messageErrorCreateDocumentacion");
        });

        $("#cancelCreateDocumentacion").live("click", function () {
            general_closePopup("containerCreateDocumentacionPopup");
        });

        $("#closeDetailsDocumentacion").live("click", function () {
            general_closePopup("containerDetailsDocumentacionPopup");
        });

        $("#saveEditDocumentacion").live("click", function () {
            var urlAction = '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.EDIT_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))';
            _eventClickActionDocumentacion(urlAction, "containerEditDocumentacionPopup", "messageErrorEditDocumentacion");
        });

        $("#cancelEditDocumentacion").live("click", function () {
            general_closePopup("containerEditDocumentacionPopup");
        });

        $("#deleteDocumentacion").live("click", function () {
            //alert("hola");  
            var urlAction = '@(Url.Action(AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.DELETE_DOC, AutomotoraWeb.Controllers.Sales.Maintenance.VehiculosController.CONTROLLER))';
            _eventClickActionDocumentacion(urlAction, "containerDeleteDocumentacionPopup", "messageErrorDeleteDocumentacion");
        });

        $("#cancelDeleteDocumentacion").live("click", function () {
            general_closePopup("containerDeleteDocumentacionPopup");
        });

        /* ================================================== */

        function getJsonDocumentacion() {
            //alert($("#ddlEstadoDocumentacion").val());
            var documentacion = {
                Codigo: $("#hiddenCodigoDoc").val(),
                Estado: {
                    Codigo: $("#ddlEstadoDocumentacion").val()
                },
                Fecha: $("#txtFechaDocumentacion").val(),
                Observaciones: $("#txtObservacionesDocumentacion").val(),
                Poseedor: $("#txtPoseedorDocumentacion").val(),
                TipoDocumento: {
                    Codigo: $("#ddlTipoDocumento").val()
                },
                Vehiculo: {
                    Codigo: $("#idVehiculoDocumentacion").val()
                }
            };

            return JSON.stringify(documentacion);

        }

        /* ================================================== */
        
    });

    function _getId(elem) {
        var str = elem.attr("id");
        return str.split("_")[1];
    }

    /* ================================================== */

    function showCreateDocumentacionPopup(data) {
        general_showPopup(data, "containerCreateDocumentacionPopup", 350, 760);
    }

    function showDetailsDocumentacionPopup(data) {
        general_showPopup(data, "containerDetailsDocumentacionPopup", 220, 500);
    }

    function showEditDocumentacionPopup(data) {
        general_showPopup(data, "containerEditDocumentacionPopup", 350, 760);
    }

    function showDeleteDocumentacionPopup(data) {
        general_showPopup(data, "containerDeleteDocumentacionPopup", 220, 500);
    }

    /* ================================================== */

</script>
