@model DLL_Backend.Gasto
@using AutomotoraWeb.Helpers;

<div>
    @Html.HiddenFor(model => model.Codigo, new { id = "hiddenCodioGasto"})

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ImporteGasto)
    </div>
    <div class="editor-field editor-field-small">
        @Html.DdlOrDisplayFor(model => model.ImporteGasto.Moneda.Codigo, (bool?)ViewBag.SoloLectura,
                    model => model.ImporteGasto.Moneda.Nombre,
                    new SelectList(ViewBag.Monedas, "Codigo", "Nombre"), null, new { id = "ddlMonedaImporteGasto", styl="width: 10px;" })
        @Html.EditorOrDisplayFor(model => model.ImporteGasto.Monto, (bool?)ViewBag.SoloLectura)
        @Html.ValidationMessageFor(model => model.ImporteGasto.Monto)
    </div>
    <div class="clear-both"></div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="editor-field editor-field-large">
        @Html.TextBoxOrdisplayFor(model => model.Fecha, (bool?)ViewBag.SoloLectura, "{0:dd/MM/yyyy}", new { id = "txtFechaGasto", @class = "calendarAW" })
        @Html.ValidationMessageFor(model => model.Fecha)
    </div>
    <div class="clear-both"></div>

    <div class="display-label ">
        @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Descripcion, (bool?)ViewBag.SoloLectura, new { id = "txtDescripcionGasto", style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>
    <div class="clear-both"></div>

    <div class="display-label ">
        @Html.DisplayNameFor(model => model.Observaciones)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { id = "txtObservacionesGasto", style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Observaciones)
    </div>
    <div class="clear-both"></div>

</div>