@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;
@using DLL_Backend;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")
   
    <div class="espacio" />
    
    <fieldset>
        <legend></legend>

        <div>
            @Html.Partial("_datosDetalle", Model)

            <div class="espacio2"></div>
    
            <div class="btn-toolbar">
                @(Html.Bootstrap().SubmitButton().Class("btn btn-primary icon-save").Text(" Guardar"))
                @(Html.Bootstrap().ActionLinkButton("Cancelar", BaseController.SHOW).Class("btn btn-default"))
            </div>
        </div>
        <div>
        @*Html.Partial("_datosAsociados", new Vehiculo())*@
        </div>

    </fieldset>
    
    <div class="espacio2"></div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TotalGastos_Monto").attr("disabled", "disabled");
            $("#Ficha").attr("disabled", "disabled");
        });
    </script>
}


