@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Sales;
@using DLL_Backend;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Codigo)

        <div>
            @Html.Partial("_datosDetalle", Model)

            <div class="espacio2"></div>
    
            <div class="btn-toolbar">
                @(Html.Bootstrap().ActionLinkButton("Modificar", BaseController.EDIT).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
                @(Html.Bootstrap().ActionLinkButton("Imprimir", BaseController.REPORT2).RouteValues(new { idVehiculo = Model.Codigo }).Class("btn btn-primary").Title("Imprimir Ficha"))
                @(Html.Bootstrap().ActionLinkButton("Eliminar", BaseController.DELETE).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))

                @{ if (Model!=null && Model.Seniable()){
                       @(Html.Bootstrap().ActionLinkButton("Señar", "SeniarVehiculo", SeniasController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
                }}

                @{ if (Model!=null && Model.Vendible()){
                       @(Html.Bootstrap().ActionLinkButton("Vender", "VentaVehiculo", VentasController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
                }}
                @{ if (Model!=null && Model.RecibeAcvs()){
                       @(Html.Bootstrap().ActionLinkButton("Anticipo", "ACVenta", AcvsController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
                }}
                 @{ if (Model!=null && Model.Entregable()){
                       @(Html.Bootstrap().ActionLinkButton("Entregar", "Entregar", VentasController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
                }}

                @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default").Title("Volver a Lista"))
            </div>
        </div>
        <div>
            @Html.Partial("_datosAsociados", Model)
        </div>

    </fieldset>

}


@section Scripts {
}

