@model DLL_Backend.Sucursal
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = @Html.Action("NombreEntidad").ToString() + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Codigo)

        @Html.Partial("_datosDetalle", Model)

    </fieldset>
    
    <div class="espacio2"></div>
    
    <div class="btn-toolbar">
        @(Html.Bootstrap().ActionLinkButton("Modificar", BaseController.EDIT).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
        @(Html.Bootstrap().ActionLinkButton("Eliminar", BaseController.DELETE).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
        @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default").Title("Volver a Lista"))
    </div>

}


@section Scripts {
}

