@model List<AutomotoraWeb.Models.CustomerModel>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="btn-toolbar">
        <div class="btn-group">
            @(Html.Bootstrap().ActionLinkButton("Agregar Cliente", "Create").AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary).Title("Agregar Cliente"))
        )
        </div>
        @*<div class="btn-group">
            <a class="btn btn-primary2-mf" title="Imprimir listado" href='@Url.Action("Create", "Vendedores")'>
                Imprimir</a>
        </div>*@
         <div class="btn-group btn-primary2-mf">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Exportar <span class="caret">
                </span></a>
                <ul class="dropdown-menu">
                    <li><a href='@Url.Action(AutomotoraWeb.Controllers.Sales.Maintenanse.CustomersController.EXPORT_TO_EXCEL)'>Exportar a Excel</a></li>
                    <li><a href='@Url.Action(AutomotoraWeb.Controllers.Sales.Maintenanse.CustomersController.EXPORT_TO_PDF)'>Exportar a PDF</a></li>
                </ul>
        </div>
    </div>
       
    <div id="clientesGrid">
        @Html.Partial("_listCustomers", Model)
    </div>
</div>



