@using DLL_Backend;

@{
    ViewBag.Title = "Debitar Cheques Emitidos Vencidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_chequesDebitar", ChequeEmitido.ChequesDebitables())

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="renglon-alto"></div>  

@using (Html.BeginForm("EjecutarDebitar", null, FormMethod.Post,new { id="formPrincipal" })) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")       
   
    <div class="btn-toolbar">
        @(Html.Bootstrap().Button().Class("btn btn-primary icon-cogs").Text(" Debitar Cheques Vencidos").Id("btnDebitar"))
    </div>
    <div class="clear-both"></div>  
}

<script type="text/javascript">

    $(document).ready(function () {
        inicializarModal("Confirmacion", "Confirma ejecucion del proceso?", "Aceptar", "Cancelar");
        $("#btnDebitar").click(function () {
            $('#myModal').modal('show');
        });
    });

    function callBackAceptar() {
        $('form#formPrincipal').submit();
    }
    </script>

