@model DLL_Backend.ChequeEmitido
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post,new { id="formPrincipal" })) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Codigo)

        @Html.Partial("_datosDetalle", Model)

    </fieldset>
    
    <div class="btn-toolbar">
        @(Html.Bootstrap().Button().Class("btn btn-primary icon-save").Text(" Guardar").Id("btn_guardar"))
        @(Html.Bootstrap().ActionLinkButton("Cancelar", BaseController.SHOW).Class("btn btn-default"))
    </div>
    <div class="clear-both"></div>
}

<script src="~/Scripts/AutomotoraWeb/ChEmitidoCreateModif.js"></script>
