@model AutomotoraWeb.Models.ListadoChequesEmitidosModel
@using DLL_Backend;

@{
    ViewBag.Title = "Listado Cheques Emitidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    select {
        width: 130px;
    }

    .labelAjustable {
        margin-right: 5px;
    }

    .separacion {
        margin-right: 25px;
    }

    .labelWidth {
        width: 80px !important;
    }

    .inputTextWidth {
        width: 120px;
    }

    .selectWidth {
        width: 100px !important;
    }

    fieldset {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    legend {
        margin-bottom: 10px;
    }

       body {
        line-height:20px;
    }
</style>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
    @Html.HiddenFor(model => model.idParametros)
    @Html.HiddenFor(model => model.Accion, new { id = "accion" })
    
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")      
    
    <div id="filtros" class="block" >
        <div class="btn-toolbar botoneraListado">
            <div class="btn-group">
                <input type="button" id="btn_actualizar" title="Listar" class="btn btn-primary" name="btnSubmit" value="Actualizar" />
            </div>
            <div class="btn-group" style="margin-left: 10px">
                <input type="button" id="btn_imprimir" class="btn btn-primary2-mf" name="btnSubmit" title="Imprimir" value="Imprimir" />
            </div>
        </div>
        <div id="containerLinea1" style="padding-bottom:20px ;height:130px" >

            <div id="filtro_fechas" class="floatLeft">
                <fieldset id="fieldsetFecha">
                    <legend>Fecha</legend>
                    <div id="periodo" style="margin-top: 10px;">
                        <div id="containerDesde" class="floatLeft">
                            <div class="floatLeft" style="text-align: right; padding-right: 5px;">
                                <label>Desde</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small ">
                                @Html.TextBoxFor(model => model.Desde, "{0:dd/MM/yyyy}", new { id = "fdesde", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div id="containerHasta" class="floatLeft">
                            <div class="floatLeft" style="text-align: right; padding-right: 5px; padding-left: 20px">
                                <label>Hasta</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small">
                                @Html.TextBoxFor(model => model.Hasta, "{0:dd/MM/yyyy}", new { id = "fhasta", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="filtro_estado" class="floatLeft">
                <fieldset id="fieldsetEstado">
                    <legend>Estado</legend>
                    <div >
                        @Html.RadioButtonFor(model => model.Filtro.Status, ChequeEmitido.CHEQUE_PENDIENTE, new { id = "rb_pendientes" })  Pendientes
                    </div>
                    <div >
                        @Html.RadioButtonFor(model => model.Filtro.Status, ChequeEmitido.CHEQUE_DEBITADO, new { id = "rb_debitados" })  Debitados
                    </div>
                    <div >
                        @Html.RadioButtonFor(model => model.Filtro.Status, ChequeEmitido.CHEQUE_EXTORNADO, new { id = "rb_extornados" })  Extornados
                    </div>
                    <div >
                        @Html.RadioButtonFor(model => model.Filtro.Status, ChequeEmitido.CHEQUE_ANULADO, new { id = "rb_anulados" })  Anulados
                    </div>
                </fieldset>
            </div>

            <div id="filtro_cuenta" class="floatLeft">
                <fieldset id="fieldsetCuenta">
                    <legend>Sucursal</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarCuenta, new { id = "cb_filtrarCuenta" }) Filtrar Cuenta
                    </div>
                    <div style="margin-top: 10px;" id="cuentas">
                        @Html.DropDownListFor(model => model.Filtro.Cuenta.Codigo, new SelectList(ViewBag.Cuentas, "Codigo", "Nombre"), new { @class = "large" })
                    </div>
                </fieldset>
            </div>

            <div id="filtro_moneda" class="floatLeft">
                <fieldset id="fieldsetMoneda">
                    <legend>Moneda</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarMoneda, new { id = "cb_filtrarMoneda" }) Filtrar Moneda
                    </div>
                    <div style="margin-top: 10px;" id="monedas">
                        @Html.DropDownListFor(model => model.Filtro.Moneda.Codigo, new SelectList(ViewBag.Monedas, "Codigo", "Nombre"), new { @class = "medium" })
                    </div>
                </fieldset>
            </div>


        </div>
    </div>
}


<div class="clear-both"></div>

<div id="divGrilla">
    @Html.Partial("_listCheques", Model)
</div>

<div style="padding-top: 30px" id="sfinGeneral">
    <div class="label-xxlarge" style="padding-left: 0px;">
        <div class="display-label">Total: </div>
        @Html.DisplayFor(m => m.Resultado.Total.ImporteTexto)
    </div>
    @{if (Model.Resultado.Total.Moneda.Codigo != Moneda.MonedaDefault.Codigo) {
        <div class="label-xxlarge" style="padding-left: 0px;">
            <div class="display-label">Total: </div>
            @Html.DisplayFor(m => m.Resultado.Total.ImporteEnMonedaDefault.ImporteTexto)
        </div>
      }
    }

</div>


<script type="text/javascript" src="/scripts/AutomotoraWeb/ChequesEmitidosListado.js"></script>



