@model DLL_Backend.CuentaBancaria
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = ViewBag.NombreEntidades;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>


<div class="row-fluid">

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        @Html.ValidationSummary("Se han producido errores:")

        <div>
            <div class="display-label">
                Cuenta Bancaria:
            </div>
            <div class="editor-field editor-field-xlarge xxlarge">
                @Html.DdlOrDisplayFor(model => model.Codigo, (bool?)ViewBag.SoloLectura, model => model.Nombre,
                new SelectList(ViewBag.Cuentas, "Codigo", "Nombre"), "--Seleccionar Cuenta--",
                new { id = "ddlCuentas", @class = "xxlarge" })
                @Html.ValidationMessageFor(model => model.Codigo)
            </div>
        </div>
        <div class="clear-both"></div>

        <div class="btn-toolbar botoneraListado">
            <div class="btn-group" style="margin-left: 10px">
                <input type="submit" id="Submit2" class="btn btn-primary2-mf" name="btnSubmit" value="Actualizar" />
            </div>

            <div class="btn-group">
                <a id="abtn_agregar" href="/ChEmitidos/Create">
                    @(Html.Bootstrap().Button().Text(" Agregar").AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary).Id("btn_agregar"))
                </a>
            </div>

            <div class="btn-group">
                <a class="btn btn-primary2-mf" title="Listados" href='@Url.Action("List")'>Listados</a>
            </div>
            <div class="btn-group">
                @(Html.Bootstrap().ActionLinkButton("Debitar ","Debitar").Style(TwitterBootstrap2.ButtonStyle.Default))
            </div>

        </div>
    }

    <div id="divGrilla">
        @Html.Partial("_listGrilla", Model)
    </div>
</div>

<script src="~/Scripts/AutomotoraWeb/ChequesEmitidosShow.js"></script>
