@model AutomotoraWeb.Models.ConsultaValeModel
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Consulta Vale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section HeadResources{
    @Html.Partial("_devExpressGrilla")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div id="filtros" class="block">
    <div class="btn-toolbar botoneraListado">
        <div class="floatLeft" style="padding-left: 20px;">
            @Html.Bootstrap().Button().Text("Actualizar").Class("btn-primary ").Id("btn_refreshVales")
        </div>
        <div class="btn-group" style="margin-left: 10px">
            @Html.Bootstrap().ActionLinkButton("Imprimir", "ReportVale").Class("btn-primary2-mf").Id("btn_imprimir").RouteValues(new{id=Model.Vale.Codigo})
        </div>
    </div>

    <div style="margin-left: 30px; margin-top:20px">
        <div class="display-label label-mini">
            @Html.LabelFor(model => model.Cliente)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge">
            @Html.DdlOrDisplayFor(model => model.Cliente.Codigo, false, model => model.Cliente.Nombre,
                new SelectList(Vale.ClientesVales(), "Codigo", "Nombre"), "--Seleccionar Cliente--",
                new { id = "ddlClientes", @class = "xxlarge" })
        </div>
        <div class="floatLeft" style="padding-left: 20px;">
            <a href="/ConsultaVale/#" id="abtn_verCliente">
                @Html.Bootstrap().Button().Class("btn-info btn-small").Text("Datos Cliente").Id("btn_verCliente")
            </a>
        </div>
        <div class="clear-both"></div>

        <div id="divValesCliente">
            @Html.Partial("_valesCliente", Model)
        </div>
    </div>

</div>

<div id="divDetalleVale">
    @Html.Partial("_datosDetalleVale", Model.Vale)
</div>

<div id ="divPagosVale">
    @Html.Partial("_valePagos", Model.Vale)
</div>

<div id ="divValesAnteriores">
    @Html.Partial("_valesAnteriores", Model.Vale)
</div>


<script type="text/javascript" src="/scripts/AutomotoraWeb/ConsultaVale1.js"></script>
