@model DLL_Backend.TRValeTransferencia
@using AutomotoraWeb.Helpers;
@using DLL_Backend;

@{
    ViewBag.Title = "Pasar Vale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <input type="hidden" name="idSession" id="idSession" value='@ViewData["idSession"]'/>      
    <div id="divVale">
        <div class="display-label label-mini">
            @Html.LabelFor(model => model.Vale)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge floatLeft">
            @Html.DdlOrDisplayFor(model => model.Vale.Codigo, false, model => model.Vale.Descripcion,
                new SelectList(Vale.ValesTransferibles(), "Codigo", "Descripcion"), "--Seleccionar Vale--",
                new { id = "ddlVales", @class = "xxlarge" })
        </div>
        <div class="floatLeft" style="padding-left: 20px;">
            @{ string dest = (Model.Vale != null && !string.IsNullOrWhiteSpace(Model.Vale.Codigo) ? "/Vales/ConsultaVale/" + Model.Vale.Codigo : "#");}
            <a href="@dest" id="abtn_verVale">
                @Html.Bootstrap().Button().Class("btn-info btn-small").Text("Consultar Vale").Id("btn_verVale")
            </a>
        </div>
        <div class="clear-both"></div>
    </div>

        
    <div id="divOperacion">
        <div class="well" style="margin-top: 10px; width: 1000px; height: 810px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#vale_tab" data-toggle="tab">Vale</a></li>
                <li><a href="#pago_tab" data-toggle="tab">Pago</a></li>
            </ul>
            <div id="tabContent" class="tab-content">
                <div class="tab-pane active in" id="vale_tab">
                    <div id="divDetalleOperacion">
                        @{if (Model.Vale != null && !string.IsNullOrWhiteSpace(Model.Vale.Codigo)) {
                            @Html.Partial("_detalleTransfVale", Model);
                          }}

                    </div>
                </div>
                <div class="tab-pane fade" id="pago_tab">
                    @Html.Partial("_pagoEstandar", Model);
                </div>
            </div>
        </div>
    </div>
    
    
}

<script type="text/javascript">

    $('#ddlVales').change(function () {
        var selectedVale = $(this).val();
        actualizarVale(selectedVale);
    });

    function actualizarVale(selectedVale) {
        if (selectedVale) {
            $("#abtn_verVale").prop("href", "/Vales/ConsultaVale/" + selectedVale);
        } else {
            $("#abtn_verVale").prop("href", "#");
        }

        //alert(selectedVenta);
        $('#divDetalleOperacion').html('');
        var destino = '/Vales/DetallesTransferencia/'
        var idSession = $('#idSession').val();
        $.ajax({
            cache: false,
            type: "GET",
            url: destino,
            data: { "idVale": selectedVale, "idSession": idSession },
            success: function (data) {
                $('#divDetalleOperacion').html(data);
                //estos renglones que siguen son para que funcione la validacion en los campos que vienen en la partial view
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                general_showErrorPopup(xhr, ajaxOptions, thrownError, destino);
                //alert('Error al traer los datos.');
            },
            beforeSend: showLoading,
            complete: hideLoading
        });
    }
</script>
