@model DLL_Backend.Venta
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = "Venta de Vehículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well" style="margin-top: 10px; width: 1024px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#vehiculos_tab" data-toggle="tab">Vehiculo</a></li>
        <li><a href="#condiciones_de_venta_tab" data-toggle="tab">Condiciones de Venta</a></li>
        <li><a href="#metodos_de_pago_tab" data-toggle="tab">Métodos de Pago</a></li>
        <li><a href="#senias_y_ACVs_tab" data-toggle="tab">Seña y Anticipos</a></li>
    </ul>
    <div id="tabContentVentaDeVehiculo" class="tab-content" style="height:1200px">
        <div class="tab-pane active in" id="vehiculos_tab">
            <div >
                @Html.Partial("_seleccionDeVehiculos", Model)
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnNextVehiculo" type="button">Siguiente</button>
            </div>
        </div>
        <div class="tab-pane fade" id="condiciones_de_venta_tab">
            <div  id="containerCondicionesDeVenta">
                @Html.Partial("_seleccionDeCondicionesDeVenta", Model)
            </div>
            <div style="float: left;">
                <button class="btn-primary  btn" id="btnBeforeCondicionesDeVenta" type="button">Anterior</button>
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnNextCondicionesDeVenta" type="button">Siguiente</button>
            </div>
        </div>
        <div class="tab-pane fade" id="metodos_de_pago_tab">
            <div  id="containerMetodosDePago">
                @Html.Partial("_seleccionDeMetodosDePago", Model)
            </div>
            <div style="float: left;">
                <button class="btn-primary  btn" id="btnBeforeMetodosDePago" type="button">Anterior</button>
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnNextMetodosDePago" type="button">Siguiente</button>
            </div>
        </div>
        <div class="tab-pane fade" id="senias_y_ACVs_tab" >
            <div id="containerSeniasACVs">
                @Html.Partial("_seleccionDeSeñasACVs", Model)
            </div>
            <div style="float: left;">
                <button class="btn-primary  btn" id="btnBeforeContainerSeniasACVs" type="button">Anterior</button>
            </div>
            <div style="float: right;">
                <button class="btn-primary  btn" id="btnFinalizarVenta" type="button">Finalizar Venta</button>
            </div>
        </div>
    </div>
    <div id="messageErrorVenta" style="color: red; margin-top: 15px;">
        
    </div>
</div>

<input type="hidden" id="idSession" value="@(ViewData["idSession"])" />

@section Scripts {

    <script type="text/javascript">

        //------------------------------------------------------

        $("#btnNextVehiculo").click(function () {
            activaTab('condiciones_de_venta_tab');
        });

        $("#btnNextCondicionesDeVenta").click(function () {
            activaTab('metodos_de_pago_tab');
        });

        $("#btnNextMetodosDePago").click(function () {
            activaTab('senias_y_ACVs_tab');
        });

        //------------------------------------------------------

        $("#btnBeforeCondicionesDeVenta").click(function () {
            activaTab('vehiculos_tab');
        });

        $("#btnBeforeMetodosDePago").click(function () {
            activaTab('condiciones_de_venta_tab');
        });

        $("#btnBeforeContainerSeniasACVs").click(function () {
            activaTab('metodos_de_pago_tab');
        });

        //------------------------------------------------------

        function activaTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };

        //------------------------------------------------------

        $("#btnFinalizarVenta").click(function () {

            $("#dialog-confirm-venta").dialog({
                resizable: false,
                height: 10,
                modal: true,
                buttons: {
                    "Confirmar Venta": function () {
                        $("#messageErrorVenta").hide();
                        $(this).dialog("close");
                        _confirmarVenta();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

        });

        function _confirmarVenta() {
            var idSession = '@ViewData["idSession"]';

            var urlAction = '@(Url.Action("finalizarVenta", "ventas"))';

            $("#loadingContainer").show();

            $.ajax({
                url: urlAction,
                type: 'POST',
                async: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: getJsonVenta(),
                success: function (data) {
                    $("#loadingContainer").hide();
                    if (data.Result == "OK") {
                        // redirect a listado de ventas
                        window.location.href = '@(Url.Action("details", "ventas"))' + '/' + data.CodigoVenta;
                    }
                    else {
                        var htmlError = "";
                        for (var i = 0; i < data.ErrorMessage.length; i++) {
                            htmlError = htmlError + "<div>" + data.ErrorMessage[i] + "</div>";
                        }
                        $("#messageErrorVenta").html(htmlError);
                        $("#messageErrorVenta").show();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#loadingContainer").hide();
                    var htmlError = textStatus + " - " + errorThrown;
                    $("#messageErrorVenta").html(htmlError);
                    $("#messageErrorVenta").show();
                }
            });
        }

        function getJsonVenta(){

            var idSession = '@(ViewData["idSession"])';

            var venta = {
                idSession: idSession,
                codigoVehiculo: $("#codigoVehiculo").val(),
                condVentaCodigoCliente: $("#ddlClientes").val() != "" ? $("#ddlClientes").val() : "0",
                condVentaCodigoVendedor: $("#ddlVendedores").val() != "" ? $("#ddlVendedores").val() : "0",
                condVentaFecha: $("#Fecha").val(),
                condVentaCodigoMoneda: $("#ddlImporteMoneda").val(),
                condVentaMonto: $("#txImporteMonto").val(),
                condVentaCodigoSucursal: $("#ddlSucursal").val(),
                condVentaVehiculoEntregado: $("#checkBoxVentaVehiculoEntregado").val(),
                condVentaFechaEntrega: $("#datePikerVentaVehiculoFechaEntrega").val() != "" ? $("#datePikerVentaVehiculoFechaEntrega").val() : "01/01/1900",
                condVentaObservaciones: $("#Observaciones").val(),
                financiacion: {
                    CantCuotas: $("#Financiacion_CantCuotas").val(),
                    Tasa: $("#Financiacion_Tasa").val(),
                    MontoFinanciado: {
                        Monto: $("#txMontoFinanciadoMonto").val(),
                        Moneda: {
                            Codigo: $("#ddlMontoFinanciadoMoneda").val()
                        }
                    }
                },
                //existePermuta: $("#existePermutaCheckBox").val() == "on" ? "true" : "false",
                existePermuta: $("#existePermutaCheckBox").is(':checked') ? "true" : "false",
                permuta: {
                    Codigo: $("#Permuta_Codigo").val(),
                    Anio: $("#Permuta_Anio").val(),
                    Chasis: $("#Permuta_Chasis").val(),
                    Color: $("#Permuta_Color").val(),
                    Costo: {
                            Monto: $("#txCostoMonto").val(),
                            Moneda: {
                                Codigo: $("#ddlCostoMoneda").val()
                            }
                    },
                    Departamento: { Codigo: $("#ddlDepartamento").val() },
                    FechaAdquirido: $("#Permuta_FechaAdquirido").val(),
                    Kilometros: $("#Permuta_Kilometros").val(),
                    Marca: $("#Permuta_Marca").val(),
                    Matricula: $("#Permuta_Matricula").val(),
                    Modelo: $("#Permuta_Modelo").val(),
                    Motor: $("#Permuta_Motor").val(),
                    Observaciones: $("#Permuta_Observaciones").val(),
                    Padron: $("#Permuta_Padron").val(),
                    PrecioVenta: {
                        Monto: $("#txPrecioVentaMonto").val(),
                        Moneda: {
                            Codigo: $("#ddlPrecioVentaMoneda").val()
                        }
                    },
                    Propietario: $("#Permuta_Propietario").val(),
                    Sucursal: {
                        Codigo: $("#ddlSucursal").val()
                    },
                    TipoCombustible: {
                        Codigo: $("#ddlTipoCombustible").val()
                    },
                    TotalGastos: {
                        Monto: $("#txTotalGastosMonto").val(),
                        Moneda: {
                            Codigo: $("#ddlTotalGastosMoneda").val()
                        }
                    }
                }
            };

            return JSON.stringify(venta);
        }
        
    </script>
}
