@model AutomotoraWeb.Models.UsuarioModel
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Usuario.Codigo)

        @Html.Partial("_datosDetalle", Model)

    </fieldset>
    
    <div class="espacio2"></div>
    
    <div class="btn-toolbar">
        @(Html.Bootstrap().ActionLinkButton("Modificar", BaseController.EDIT).RouteValues(new { id = Model.Usuario.Codigo }).Class("btn btn-primary"))
        @(Html.Bootstrap().ActionLinkButton("Eliminar", BaseController.DELETE).RouteValues(new { id = Model.Usuario.Codigo }).Class("btn btn-primary"))
        @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default").Title("Volver a Lista"))
    </div>

}


<div class="block">
    <a href="#divperfiles" class="block-heading icon-play-circle" data-toggle="collapse">&nbsp;&nbsp;&nbsp;Perfiles</a>
    <div id="divperfiles" class="block-body collapse in" style="padding-top: 10px; padding-bottom: 10px">
        @Html.Partial("_perfilesUsuario", Model.Usuario.Perfiles)
    </div>
</div>


@section Scripts {
}

