@model AutomotoraWeb.Models.ResetPasswordModel
@using AutomotoraWeb.Controllers.Sistema;

@{
    ViewBag.Title = "Reset Clave Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<section id="resetPwdForm">
       <div class="block-body">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.ValidationSummary("Se han producido errores:")

    
            @Html.LabelFor(m => m.UsuarioActual)
            @Html.TextBoxFor(m => m.UsuarioActual, new {disabled="disabled" })
            @Html.HiddenFor(m => m.UsuarioActual)

            
            @Html.LabelFor(m => m.ClaveUsuarioActual)
            @Html.PasswordFor(m => m.ClaveUsuarioActual, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.ClaveUsuarioActual)
                
            @Html.LabelFor(m => m.UsuarioReset)
            @Html.TextBoxFor(m => m.UsuarioReset, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.UsuarioReset)

            @Html.LabelFor(m => m.ClaveUsuarioReset)
            @Html.PasswordFor(m => m.ClaveUsuarioReset, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.ClaveUsuarioReset)

            @Html.LabelFor(m => m.VerificacionClaveUsuarioReset)
            @Html.PasswordFor(m => m.VerificacionClaveUsuarioReset, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.VerificacionClaveUsuarioReset)

            <div class="espacio2"></div>
            
            <div class="btn-toolbar">
                 @(Html.Bootstrap().SubmitButton().Text("Resetear clave").Class("btn btn-primary"))
                 @(Html.Bootstrap().ActionLinkButton("Cancelar", SistemaController.INDEX, SistemaController.BCONTROLLER).Class("btn btn-default")) 

            </div>
            <div class="clearfix"></div>
         
        }
    </div>
</section>



