@model DLL_Backend.Cliente
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = @Html.Action("NombreEntidad").ToString() + ": Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")
    <div class="espacio" />
    
    <fieldset>
        <legend></legend>

        @Html.Partial("_datosDetalle", Model)

        <div class="btn-toolbar">
            @(Html.Bootstrap().SubmitButton().Class("btn btn-primary icon-save").Text(" Guardar"))
            @(Html.Bootstrap().ActionLinkButton("Cancelar", BaseController.SHOW).Class("btn btn-default"))
        </div>


    </fieldset>
}

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/ClienteMantenimiento.js"></script>
}








