@model DLL_Backend.Cliente
@using AutomotoraWeb.Controllers.General;

@{
    //ViewBag.Title = @Html.Action("NombreEntidad").ToString() + ": Eliminar";
    ViewBag.Title = ViewBag.NombreEntidad + ": Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.Codigo)

        @Html.Partial("_datosDetalle", Model)

        @Html.HiddenFor(model => model.Ecivil.Codigo, new { id = "codigoECivilConsulta" })

        <div class="btn-toolbar">
            @(Html.Bootstrap().SubmitButton().Class("btn btn-primary").Text("Eliminar").Data(new { id = Model.Codigo }))
            @(Html.Bootstrap().ActionLinkButton("Cancelar", BaseController.SHOW).Class("btn btn-default"))
        </div>

    </fieldset>
}


@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/ClienteMantenimiento.js"></script>
}

