@model AutomotoraWeb.Models.ListadoTransaccionesModel
@using AutomotoraWeb.Controllers.Financing;
@using DLL_Backend;
@{
    ViewBag.Title = "Listado de Transacciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    select {
        width: 130px;
    }

    .labelAjustable {
        margin-right: 5px;
    }

    .separacion {
        margin-right: 25px;
    }

    .labelWidth {
        width: 80px !important;
    }

    .inputTextWidth {
        width: 120px;
    }

    .selectWidth {
        width: 100px !important;
    }

    fieldset {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    legend {
        margin-bottom: 10px;
    }
</style>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
    @Html.HiddenFor(model => model.idParametros)
    @Html.HiddenFor(model => model.Accion, new { id = "accion" })
    
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")      
    
    <div id="filtros" class="block" style="margin-right: 5px">
        <div class="btn-toolbar botoneraListado">
            <div class="btn-group">
                <input type="button" id="btn_actualizar" title="Listar" class="btn btn-primary" name="btnSubmit" value="Actualizar" />
            </div>
            <div class="btn-group" style="margin-left: 10px">
                <input type="button" id="btn_imprimir" class="btn btn-primary2-mf" name="btnSubmit" title="Imprimir" value="Imprimir" />
            </div>
        </div>
        <div id="containerLinea1">
            <div id="filtro_fechas" class="floatLeft">
                <fieldset id="fieldsetFecha">
                    <legend>Fecha</legend>
                    <div id="periodo" style="margin-top: 10px;">
                        <div id="containerDesde" class="floatLeft">
                            <div class="floatLeft" style="text-align: right; padding-right: 5px;">
                                <label>Desde</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small ">
                                @Html.TextBoxFor(model => model.Desde, "{0:dd/MM/yyyy}", new { id = "fdesde", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div id="containerHasta" class="floatLeft">
                            <div class="floatLeft" style="text-align: right; padding-right: 5px; padding-left:20px">
                                <label>Hasta</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small">
                                @Html.TextBoxFor(model => model.Hasta, "{0:dd/MM/yyyy}", new { id = "fhasta", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
          
            <div class="clear-both"></div>
        </div>
        <div id="containerLinea2" style="padding-bottom:15px">
              <div id="filtro_transaccion" class="floatLeft">
                <fieldset id="fieldsetTransaccion">
                    <legend>Transaccion</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarTipo, new { id = "cb_filtrarTransaccion" }) Filtrar Tipo Transacción
                    </div>
                    <div style="margin-top: 10px;" id="transacciones">
                        @Html.DropDownListFor(model => model.Filtro.TipoRecibo.Codigo, new SelectList(ViewBag.TiposRecibo, "Codigo", "Descripcion"), new { @class = "large" })
                    </div>
                </fieldset>
            </div>
            <div id="filtro_usuario" class="floatLeft">
                <fieldset id="fieldsetusuario">
                    <legend>Usuario</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarUsuario, new { id = "cb_filtrarUsuario" }) Filtrar Usuario
                    </div>
                    <div style="margin-top: 10px;" id="usuarios">
                        @Html.DropDownListFor(model => model.Filtro.Usuario.Codigo, new SelectList(ViewBag.Usuarios, "Codigo", "UserName"), new { @class = "medium" })
                    </div>
                </fieldset>
            </div>
            <div id="filtro_cliente" class="floatLeft">
                <fieldset id="fieldsetcliente">
                    <legend>Cliente</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarCliente, new { id = "cb_filtrarCliente" }) Filtrar Cliente
                    </div>
                    <div style="margin-top: 10px;" id="clientes">
                        @Html.DropDownListFor(model => model.Filtro.Cliente.Codigo, new SelectList(ViewBag.Clientes, "Codigo", "Nombre"), new { @class = "large" })
                    </div>
                </fieldset>
            </div>
            <div id="filtro_sucursal" class="floatLeft">
                <fieldset id="fieldsetsucursal">
                    <legend>Sucursal</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarSucursal, new { id = "cb_filtrarSucursal" }) Filtrar Sucursal
                    </div>
                    <div style="margin-top: 10px;" id="sucursales">
                        @Html.DropDownListFor(model => model.Filtro.Sucursal.Codigo, new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), new { @class = "medium" })
                    </div>
                </fieldset>
            </div>
            <div id="filtro_financista" class="floatLeft">
                <fieldset id="fieldsetfinancista">
                    <legend>Financista</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarFinancista, new { id = "cb_filtrarFinancista" }) Filtrar Financista
                    </div>
                    <div style="margin-top: 10px;" id="financistas">
                        @Html.DropDownListFor(model => model.Filtro.Financista.Codigo, new SelectList(ViewBag.Financistas, "Codigo", "Nombre"), new { @class = "medium" })
                    </div>
                </fieldset>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
}


<div class="clear-both"></div>

<div id="divGrilla">
      @Html.Partial("_listTransacciones", Model)
</div>

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/TransaccionesListado.js"></script>
}



