<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*Los estilos van primero porque los precisa la pagina para renderizar*@
    @Styles.Render("~/Content/css")   @*Bootstrap  awesome y template propio*@

    @*El modernizer va siempre arriba, porque lo necesita el navegador para renderizar en navegadores antiguos*@
    @Scripts.Render("~/bundles/modernizr")

    @*Lo tengo que poner arriba para que ande la grilla de devexpres, va junto con el bootstrap*@
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bootstrap")

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>


<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
    <!--<![endif]-->

    <!-- HEADER, NAVBAR -->
    <div class="navbar" id="pagHeader">
        <div class="navbar-inner" id="menuHeader">
            <ul class="nav pull-right">
                <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">Settings</a></li>
                <li id="fat-menu" class="dropdown"><a href="#" role="button" class="dropdown-toggle"
                    data-toggle="dropdown"><i class="icon-user"></i>Nombre Usuario <i class="icon-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="./authentication/changePassword">Cambiar contra&ntilde;a</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                        <li class="divider visible-phone"></li>
                        <li><a tabindex="-1" href="./authentication/logout">Cerrar sesi&oacute;n</a></li>
                    </ul>
                </li>
            </ul>
            <div id="nomsistema">
                <a class="brand" href="index.html"><span class="first">Sistema Gestion Automotoras</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="second"> Kilometro Cero</span></a>
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->

    @{
        string controller = @Request.RequestContext.RouteData.GetRequiredString("controller");   
    }
    
    @{
        if (controller == AutomotoraWeb.Controllers.SalesController.SALES) { 
            @Html.Partial("_sidebarSales")
        } else if (controller == AutomotoraWeb.Controllers.FinancingController.FINANCING) {
            @Html.Partial("_sidebarFinancing")
        } else if (controller == AutomotoraWeb.Controllers.BankController.BANK) {
            @Html.Partial("_sidebarBank")
        }
    }

    

    <!-- CONTENT -->
    <div class="content">
        <ul class="nav nav-pills breadcrumb">


            @{
                if (controller == AutomotoraWeb.Controllers.SalesController.SALES) { 
                    <li class="active"><a href="#">Ventas</a></li>
                    <li>@Html.ActionLink("Financiaciones", AutomotoraWeb.Controllers.FinancingController.INDEX, AutomotoraWeb.Controllers.FinancingController.FINANCING)</li>
                    <li>@Html.ActionLink("Banco", AutomotoraWeb.Controllers.BankController.INDEX, AutomotoraWeb.Controllers.BankController.BANK)</li>
                } 
                else if (controller == AutomotoraWeb.Controllers.FinancingController.FINANCING) {
                    <li>@Html.ActionLink("Ventas", AutomotoraWeb.Controllers.SalesController.INDEX, AutomotoraWeb.Controllers.SalesController.SALES)</li>
                    <li class="active"><a href="#">Financiaciones</a></li>
                    <li>@Html.ActionLink("Banco", AutomotoraWeb.Controllers.BankController.INDEX, AutomotoraWeb.Controllers.BankController.BANK)</li>
                }
                else if (controller == AutomotoraWeb.Controllers.BankController.BANK) {
                    <li>@Html.ActionLink("Ventas", AutomotoraWeb.Controllers.SalesController.INDEX, AutomotoraWeb.Controllers.SalesController.SALES)</li>
                    <li>@Html.ActionLink("Financiaciones", AutomotoraWeb.Controllers.FinancingController.INDEX, AutomotoraWeb.Controllers.FinancingController.FINANCING)</li>
                    <li class="active"><a href="#">Banco</a></li>
                }
                else{
                    <li>@Html.ActionLink("Ventas", AutomotoraWeb.Controllers.SalesController.INDEX, AutomotoraWeb.Controllers.SalesController.SALES)</li>
                    <li>@Html.ActionLink("Financiaciones", AutomotoraWeb.Controllers.FinancingController.INDEX, AutomotoraWeb.Controllers.FinancingController.FINANCING)</li>
                    <li>@Html.ActionLink("Banco", AutomotoraWeb.Controllers.BankController.INDEX, AutomotoraWeb.Controllers.BankController.BANK)</li>
                }
            }
        </ul>

        <div class="header">
            <h1 class="page-title">@ViewBag.Title</h1>
        </div>

        <div class="container-fluid">
            <div class="row-fluid contPagina">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jqueryui")  @*Los scripts de jquery-uy*@
    @Scripts.Render("~/bundles/jqueryval") @*Los scripts de validacion del jquery*@
    @RenderSection("scripts", required: false)  @*Los scripts adicionales de cada seccion si los tiene *@
</body>
</html>
