@model DLL_Backend.Transaccion


<div class="cabezalBloque" style="margin-bottom: 8px">Efectivo</div>
<div class="clear-both"></div>
 @Html.Partial("_grillaPagosEfectivo", Model.Pago.Efectivos)
<div class="clear-both"></div>
<div class="espacio2"></div>
<div class="clear-both"></div>

<div class="cabezalBloque" style="margin-bottom: 8px">Cheques</div>
<div class="clear-both"></div>
 @Html.Partial("_grillaPagosCheque", Model.Pago.Cheques)
<div class="clear-both"></div>
<div class="espacio2"></div>
<div class="clear-both"></div>

<div class="cabezalBloque" style="margin-bottom: 8px">Deposito Bancario</div>
<div class="clear-both"></div>
 @Html.Partial("_grillaPagosMovBanco", Model.Pago.PagosBanco)
<div class="clear-both"></div>
<div class="espacio2"></div>
<div class="clear-both"></div>

   
<script type="text/javascript">
    function OnBeginCallback(s, e) {
        //Si la voy a traer en una partial view, hay que poner esto en la madre, porque la partial viene sin viewdata.
        e.customArgs["idSession"] = '@ViewData["idSession"]';
        e.customArgs["idParametros"] = '@ViewData["idParametros"]';
    }
</script> 