@model DLL_Backend.TRChequeRechazadoCanje
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

@{
    ViewBag.Title = "Canjear Cheque Rechazado";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool cambiarSucursal = ViewBag.Multisucursal;
    bool modoConsulta = (((bool?)(ViewBag.SoloLectura)) ?? false);
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <input type="hidden" name="idSession" id="idSession" value='@ViewData["idSession"]'/>

    <div class="display-label">
        @Html.LabelForRequired(model => model.Cheque)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodel = new GridLookUpModel { Opciones = Cheque.ChequesRechazados(), GridLookUpCodigo=Model.Cheque.Codigo  };}
            @Html.Partial("_selectChequeCanjear", gmodel)
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Cheque.Codigo)
        </div>
        <div class="floatLeft" style="padding-left: 20px;">
            <a href="#" id="abtn_verCheque">
                  @Html.Bootstrap().Button().Class("btn btn-info btn-small").Text("Consulta Cheque").Id("btn_verCheque")
            </a>
        </div>
        @Html.HiddenFor(model => model.Cheque.Codigo, new { id = "codigoCheque" })

    </div>
    <div class="clear-both"></div>
         
      <div class="display-label">
        @Html.DisplayNameFor(model => model.Importe) Recibido *
    </div>
    <div class="editor-field editor-field-small">
        @Html.DdlOrDisplayImporteFor(model => model.Importe, modoConsulta)
        @Html.ValidationMessageFor(model => model.Importe.Monto)
    </div>
    <div class="clear-both"></div>    
    
    <div>
        <div class="display-label">
            @Html.LabelForRequired(model => model.Sucursal)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge  @(modoConsulta?"":"renglon-alto")">
            @Html.DdlOrDisplayFor(model => model.Sucursal.Codigo,  modoConsulta||!cambiarSucursal, model => model.Sucursal.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursales", @class = "large" })
            @Html.ValidationMessageFor(model => model.Sucursal)
        </div>
    </div>
    <div class="clear-both"></div>   
        
    <div class="display-label ">
        @Html.LabelForRequired(model => model.Observaciones)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Observaciones, modoConsulta, new { style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Observaciones)

    </div>
    <div class="clear-both"></div>   
    
    <div>
           @Html.Partial("_pagoEstandar", Model)
    </div>
    
    <div class="clear-both"></div>   
    
    <div class="btn-toolbar">
        @(Html.Bootstrap().SubmitButton().Class("btn btn-primary icon-save").Text(" Canjear Cheque"))
    </div>     

}

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/CanjearCheque.js"></script>
}