@model DLL_Backend.Cheque
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Sales;
@using AutomotoraWeb.Controllers.Sistema;
@using AutomotoraWeb.Controllers.Financing;

@{
    ViewBag.Title = "Consulta Cheque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.Codigo)

<div id="filtros" class="block">
    <div class="btn-toolbar botoneraListado">
        <div class="floatLeft" style="padding-left: 20px;">
            @Html.Bootstrap().ActionLinkButton("Actualizar", "ConsultaCheque").Class("btn-primary ").RouteValues(new { id=Model.Codigo})
        </div>
        <div class="btn-group" style="margin-left: 10px">
            @Html.Bootstrap().ActionLinkButton("Imprimir", "ReportCheque").Class("btn-primary2-mf").Id("btn_imprimir").RouteValues(new{id=Model.Codigo})
        </div>
    </div>
</div>

<div class="display-label">
    @Html.LabelForRequired(model => model.Banco)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.Banco)
</div>
<div class="clear-both"></div>
<div class="display-label">
    @Html.LabelForRequired(model => model.Cuenta)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.Cuenta)
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.LabelForRequired(model => model.Librador)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.Librador)
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.LabelForRequired(model => model.NumeroCheque)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.NumeroCheque)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.FechaValor)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.FechaValor, "{0:dd/MM/yyyy}")
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.FechaVencimiento)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.FechaVencimiento, "{0:dd/MM/yyyy}")
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.Importe)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.Importe.ImporteTexto)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.DescripcionEstado)
</div>
<div class="editor-field ">
    <strong>
    <div>@Html.DisplayFor(model => model.DescripcionEstado)</div>
        </strong>
    <div>@Html.DisplayFor(model => model.DescripcionAdicionalDestino)</div>
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.Observaciones)
</div>
<div class="editor-field ">
    @Html.DisplayFor(model => model.Observaciones)
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.LabelForRequired(model => model.Financista)
</div>
<div class="editor-field">
    @Html.Bootstrap().ActionLink(Model.Financista.Nombre, BaseController.DETAILS, FinancistasController.CONTROLLER).RouteValues(new { id = Model.Financista.Codigo })
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.LabelForRequired(model => model.DetalleOrigen)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.DetalleOrigen)
    
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.LabelForRequired(model => model.ClienteOrigen)
</div>
<div class="editor-field">
    @{ if (Model.ClienteOrigen!=null){
        @Html.Bootstrap().ActionLink(Model.ClienteOrigen.Nombre, BaseController.DETAILS, ClientesController.CONTROLLER).RouteValues(new { id = Model.ClienteOrigen.Codigo })
    }}
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.LabelForRequired(model => model.VehiculoOrigen)
</div>
<div class="editor-field">
    @{ if (Model.VehiculoOrigen!=null){
     @Html.Bootstrap().ActionLink(Model.VehiculoOrigen.Ficha, BaseController.DETAILS, VehiculosController.CONTROLLER).RouteValues(new { id = Model.VehiculoOrigen.Codigo })
    }   }
</div>
<div class="clear-both"></div>


<div class="display-label">
    @Html.LabelForRequired(model => model.Sucursal)
</div>
<div class="editor-field">
    @Html.Bootstrap().ActionLink(Model.Sucursal.Nombre, BaseController.DETAILS, SucursalesController.CONTROLLER).RouteValues(new { id = Model.Sucursal.Codigo })
</div>
<div class="clear-both"></div>


<div class="espacio2"></div>

<div id="movimientos" class="cabezalBloque">
    Movimientos
</div>
<div class="cuerpoBloque">
    @Html.Partial("_movimientosCheque", Model.Movimientos);
</div>