@model DLL_Backend.TRChequePasar
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

@{
    ViewBag.Title = "Pasar Cheque";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool cambiarSucursal = ViewBag.Multisucursal;
    bool modoConsulta = (((bool?)(ViewBag.SoloLectura)) ?? false);
}

FALTA MODO DE PAGO DE IMPORTE RECIBIDO (IDEM A PASAR VALE) Y AJUSTAR EL BACKEND PARA ESTO QUE QUEDO DESHABILTIADO

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    

    <div class="display-label">
        @Html.LabelForRequired(model => model.Cheque)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodel = new GridLookUpModel { Opciones = Cheque.ChequesTransferibles(), GridLookUpCodigo=Model.Cheque.Codigo  };}
            @Html.Partial("_selectChequePasar", gmodel )
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Cheque.Codigo)
        </div>
        <div class="floatLeft" style="padding-left: 20px;">
            <a href="#" id="abtn_verCheque">
                  @Html.Bootstrap().Button().Class("btn btn-info btn-small").Text("Consulta Cheque").Id("btn_verCheque")
            </a>
        </div>
        @Html.HiddenFor(model => model.Cheque.Codigo, new { id = "codigoCheque" })

    </div>
    <div class="clear-both"></div>
    <div class="block" style="height:80px; padding-top:10px; padding-left:10px; margin-right:10px">
        <div>
            <div class="renglon-alto display-label">
                @Html.RadioButtonFor(model => model.TipoDestino, TRChequePasar.TIPO_DESTINO.FINANCISTA, new { id = "rb_financista" })  Financista
            </div>
            <div id="financistas">
                @Html.DropDownListFor(model => model.Financista.Codigo, new SelectList(ViewBag.Financistas, "Codigo", "Nombre"), new { @class = "large" })
            </div>
        </div>
        <div class="clear-both"></div>
        <div>
            <div class=" renglon-alto display-label">
                @Html.RadioButtonFor(model => model.TipoDestino, TRChequePasar.TIPO_DESTINO.TERCERO, new { id = "rb_tercero" })  Tercero
            </div>
            <div class="editor-field editor-field-large" id="tercero">
                @Html.TextBoxFor(model => model.Tercero)
                @Html.ValidationMessageFor(model => model.Tercero)
            </div>
        </div>
    </div>
    
    <div class="clear-both"></div>
        
    <div>
        <div class="display-label">
            @Html.LabelForRequired(model => model.Sucursal)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge  @(modoConsulta?"":"renglon-alto")">
            @Html.DdlOrDisplayFor(model => model.Sucursal.Codigo, modoConsulta||!cambiarSucursal, model => model.Sucursal.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursales", @class = "large" })
            @Html.ValidationMessageFor(model => model.Sucursal)
        </div>
    </div>
    <div class="clear-both"></div>   
        
    <div class="display-label ">
        @Html.LabelForRequired(model => model.Observaciones)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Observaciones)

    </div>
    <div class="clear-both"></div>   
    
    <div class="espacio2"></div>
    <div class="btn-toolbar">
        @(Html.Bootstrap().SubmitButton().Class("btn btn-primary icon-save").Text(" Transferir Cheque"))
    </div>     

}

<script type="text/javascript" src="/scripts/AutomotoraWeb/PasarCheque.js"></script>
