@model DLL_Backend.TRChequeRechazar
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;
@using AutomotoraWeb.Helpers.Grilla;

@{
    ViewBag.Title = "Registrar Cheque Rechazado";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool cambiarSucursal = ViewBag.Multisucursal;
    bool modoConsulta = (((bool?)(ViewBag.SoloLectura)) ?? false);
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <div class="display-label">
        @Html.LabelForRequired(model => model.Cheque)
    </div>
    <div class="renglon-alto editor-field-xlarge">
        <div class="floatLeft">
            @{GridLookUpModel gmodel = new GridLookUpModel { Opciones = Model.ChequesRechazables(), GridLookUpCodigo = Model.Cheque.Codigo };}
            @Html.Partial("_selectChequeRechazar", gmodel)
        </div>
        <div class="floatLeft" style="margin-left: 5px">
            @Html.ValidationMessageFor(model => model.Cheque.Codigo)
        </div>
        <div class="floatLeft" style="padding-left: 20px;">
            <a href="#" id="abtn_verCheque">
                @Html.Bootstrap().Button().Class("btn btn-info btn-small").Text("Consulta Cheque").Id("btn_verCheque")
            </a>
        </div>
        @Html.HiddenFor(model => model.Cheque.Codigo, new { id = "codigoCheque" })

    </div>
    <div class="clear-both"></div>
    
    <div class="display-label">
        Movimiento Anterior
    </div>
    <div class="renglon-alto editor-field-xlarge" id="destinoAnt">
    </div>
    <div class="clear-both"></div>
    
    <div>
        <div class="display-label">
            @Html.LabelForRequired(model => model.Sucursal)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge  @(modoConsulta ? "" : "renglon-alto")">
            @Html.DdlOrDisplayFor(model => model.Sucursal.Codigo, modoConsulta || !cambiarSucursal, model => model.Sucursal.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursales", @class = "large" })
            @Html.ValidationMessageFor(model => model.Sucursal)
        </div>
    </div>
    <div class="clear-both"></div>   
        
    <div class="display-label ">
        @Html.LabelForRequired(model => model.Observaciones)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Observaciones)

    </div>
    <div class="clear-both"></div>   
    
    <div class="espacio2"></div>
    <div class="btn-toolbar">
        @(Html.Bootstrap().Button().Class("btn btn-primary icon-save").Text(" Cheque Rechazado").Id("btnRechazar"))
    </div>     

}

<script type="text/javascript">

    $(document).ready(function () {
        inicializarModal("Confirmacion", "Confirma marcar cheque como rechazado por el banco?", "Aceptar", "Cancelar");
        $("#btnRechazar").click( function () {
            $('#myModal').modal('show');
        });
    });

    function callBackAceptar() {
        $('form#formPrincipal').submit();
    }

    function chequeSelected(s, e) {
        //alert("hola");
        var g = gridCheques.GetGridView();  //obtener referencia a la grilla
        //var valor = g.GetRowKey(g.GetFocusedRowIndex()); //obtener el valor elegido
        var valor = s.GetRowKey(e.visibleIndex);
        //alert(valor);
        $("#codigoCheque").val(valor);
        $("#abtn_verCheque").prop("href", "/Cheques/ConsultaCheque/" + valor);
        //g.GetRowValues(g.GetFocusedRowIndex(), 'DescripcionAdicionalDestino', MostrarDestinoAnt);
        g.GetRowValues(e.visibleIndex, 'DescripcionAdicionalDestino', MostrarDestinoAnt);
    }

    function MostrarDestinoAnt(value) {
        //alert(value);
        $("#destinoAnt").html(value);
    }

</script>
