@model AutomotoraWeb.Models.ChequeTransfSucModel
@using AutomotoraWeb.Helpers;
@using DLL_Backend;

@*Tiene que estar arriba o no funciona la grilla devexpress*@
<script src="~/Scripts/AutomotoraWeb/TransfChequesSuc.js"></script>

@section HeadResources{
    @Html.Partial("_devExpressGrilla")
}



@{
    ViewBag.Title = "Transferir Cheques entre Sucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool cambiarSucursal = ViewBag.Multisucursal;
    bool modoConsulta = (((bool?)(ViewBag.SoloLectura)) ?? false);
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
   
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")
    @Html.HiddenFor(model => model.ChequesIds, new { id = "chequesIds" })

    <div>
        <div class="display-label">
            @Html.LabelForRequired(model => model.SucursalOrigen)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge" style="margin-right:20px">
            @Html.DdlOrDisplayFor(model => model.SucursalOrigen.Codigo, modoConsulta||!cambiarSucursal, model => model.SucursalOrigen.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursales", @class = "large" })
            @Html.ValidationMessageFor(model => model.SucursalOrigen)
        </div>
         <div style="padding-left:20px">
                <input type="button" id="btn_actualizar" class="btn btn-primary2-mf" name="btnActualizar" value="Actualizar" />
         </div>
    </div>
    <div class="clear-both"></div>   
    
    <div>
        <div class="display-label">
            @Html.LabelForRequired(model => model.SucursalDestino)
        </div>
        <div class="editor-field editor-field-xlarge xxlarge">
            @Html.DdlOrDisplayFor(model => model.SucursalDestino.Codigo, (bool?)ViewBag.SoloLectura, model => model.SucursalDestino.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursalesDest", @class = "large" })
            @Html.ValidationMessageFor(model => model.SucursalDestino)
        </div>
    </div>
    <div class="clear-both"></div>  
    
      <div class="display-label ">
        @Html.LabelForRequired(model => model.Observaciones)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Observaciones)

    </div>
    <div class="clear-both"></div>   

    <div style="width:2000px">
    <div class="selection_form" >
        <div class="floatLeft"  style="margin-right:10px">
            <div class="text">
                Seleccionados:
            </div>
            <div>
            @Html.DevExpress().ListBox(
            settings => {
                settings.Name = "SelectedRows";
                settings.Width = 120;
                settings.Height = 300;
                settings.Properties.EnableClientSideAPI = true;
            }).GetHtml()
            </div>
            <div class="text">
                Cantidad:&nbsp;<strong id="count">0</strong>
            </div>
            <div class="clear-both"></div>
            <div class="espacio2"></div>
             <div class="btn-toolbar">
               @(Html.Bootstrap().Button().Class("btn btn-primary icon-save").Text(" Transferir").Id("btn_transferir"))
            </div>     
        </div>
        <div class="floatLeft" id="divGrillaCheques">
            @Html.Partial("_selectChequeTransfSuc", Cheque.ChequesTransferiblesSucursal(Model.SucursalOrigen))
        </div>
    </div>
    </div>
    <div class="clear-both"></div>   

  
}

