@model DLL_Backend.Sucursal
@using AutomotoraWeb.Helpers;

<div class="display-label">
    @Html.DisplayNameFor(model => model.Nombre)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Nombre, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Direccion)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Direccion, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Direccion)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Ciudad)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.EditorOrDisplayFor(model => model.Ciudad, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Ciudad)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.CodigoPostal)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.CodigoPostal, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.CodigoPostal)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Email)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Email, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Email)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Telefono)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Telefono, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Telefono)
</div>
<div class="clear-both"></div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Fax)
</div>
<div class="editor-field editor-field-large">
    @Html.EditorOrDisplayFor(model => model.Fax, (bool?)ViewBag.SoloLectura)
    @Html.ValidationMessageFor(model => model.Fax)
</div>
<div class="clear-both"></div>

<div class="display-label ">
    @Html.DisplayNameFor(model => model.Observaciones)
</div>
<div class="editor-field editor-field-xxlarge">
    @Html.TextAreaOrDisplayFor(model => model.Observaciones, (bool?)ViewBag.SoloLectura, new { style = "width: 530px; height: 60px" })
    @Html.ValidationMessageFor(model => model.Observaciones)
</div>
<div class="clear-both"></div>

<div class="espacio2"></div>
