@model DLL_Backend.Sucursal

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm(AutomotoraWeb.Controllers.Sales.Maintenanse.SucursalesController.DELETE, AutomotoraWeb.Controllers.Sales.Maintenanse.SucursalesController.SUCURSALES, FormMethod.Post)) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Codigo)
        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Nombre): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
                @Html.HiddenFor(model => model.Nombre)
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Direccion): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Direccion)
                @Html.HiddenFor(model => model.Direccion)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Ciudad): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Ciudad)
                @Html.HiddenFor(model => model.Ciudad)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.CodigoPostal): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CodigoPostal)
                @Html.HiddenFor(model => model.CodigoPostal)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Email): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
                @Html.HiddenFor(model => model.Email)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Telefono): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Telefono)
                @Html.HiddenFor(model => model.Telefono)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Fax): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Fax)
                @Html.HiddenFor(model => model.Fax)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Observaciones): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Observaciones)
                @Html.HiddenFor(model => model.Observaciones)
            </div>
            <div class="clear-both"></div>
        </div>
        
    </fieldset>
    
    <div class="espacio2"></div>
    
    <div class="btn-toolbar">
        @(Html.Bootstrap().SubmitButton().Class("btn btn-primary").Text("Eliminar").Tooltip("Eliminar Sucursal").Data(new { id = Model.Codigo }))
        @(Html.Bootstrap().ActionLinkButton("Cancelar", AutomotoraWeb.Controllers.Sales.Maintenanse.SucursalesController.SHOW, AutomotoraWeb.Controllers.Sales.Maintenanse.SucursalesController.SUCURSALES).Class("btn btn-default"))
    </div>

}


@section Scripts {
}

