@model DLL_Backend.Sucursal
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = "Vendedores: Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Nombre): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Direccion): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Direccion)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Ciudad): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Ciudad)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.CodigoPostal): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CodigoPostal)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Email): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Telefono): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Telefono)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Fax): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Fax)
            </div>
            <div class="clear-both"></div>
        </div>

        <div class="details-field">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Observaciones): 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Observaciones)
            </div>
            <div class="clear-both"></div>
        </div>
        
    </fieldset>
    
    <div class="espacio2"></div>
    
    <div class="btn-toolbar">
        @(Html.Bootstrap().ActionLinkButton("Modificar", BaseController.EDIT).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary").Title("Editar Sucursal"))
        @(Html.Bootstrap().ActionLinkButton("Eliminar", BaseController.DELETE).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary").Title("Eliminar Sucursal"))
        @(Html.Bootstrap().ActionLinkButton("Volver",BaseController.SHOW).Class("btn btn-default").Title("Volver a Lista de Sucursales"))
    </div>

}


@section Scripts {
}

