@model AutomotoraWeb.Models.SeniaModel
@using AutomotoraWeb.Controllers.General;
@using DLL_Backend;
@using AutomotoraWeb.Models;
@using AutomotoraWeb.Helpers;

@{ bool cambiarSucursal = ViewBag.Multisucursal;
   PrecondicionesOperacion cond = Model.Precondicion;
   bool modoConsulta = ((bool?)ViewBag.SoloLectura) ?? false;
   bool botonConsulta = ((bool?)ViewBag.LinkConsulta) ?? false;
   bool clienteObligatorio = false;
   bool vendedorObligatorio = false;
   if (cond!=null){
       clienteObligatorio = cond.ClienteObligatorio;
       vendedorObligatorio = cond.VendedorObligatorio;
   }
}

<div class="dataLine">
    <div class="display-label">
        Fecha
    </div>
    <div class="editor-field editor-field-medium">
        @{ if (!modoConsulta) {
               if (Automotora.AdmiteOtrasFechas()) {
            @Html.TextBoxFor(model => model.Senia.Fecha, "{0:dd/MM/yyyy}", new { @class = "calendarAW" })
            @Html.ValidationMessageFor(model => model.Senia.Fecha)
               } else {
            @Html.TextBoxFor(model => model.Senia.Fecha, "{0:dd/MM/yyyy}", new { disabled = "disabled" })    
               }
           } else {
            @Html.DisplayFor(model => model.Senia.Fecha, "{0:dd/MM/yyyy}")
           }
        }
    </div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label">
        @Html.LabelForRequired(model => model.Senia.Cliente)
    </div>
    <div class="editor-field editor-field-medium medium renglon-alto">
        @Html.DdlOrDisplayFor(model => model.Senia.Cliente.Codigo, modoConsulta || clienteObligatorio, model => model.Senia.Cliente.Nombre,
                new SelectList(ViewBag.Clientes, "Codigo", "Nombre"), "--Seleccionar Cliente--",
                new { id = "ddlClientes", @class = "large" })
        @Html.ValidationMessageFor(model => model.Senia.Cliente)
    </div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label">
        @Html.LabelForRequired(model => model.Senia.Vendedor)
    </div>
    <div class="editor-field editor-field-medium medium renglon-alto">
        @Html.DdlOrDisplayFor(model => model.Senia.Vendedor.Codigo, modoConsulta || vendedorObligatorio, model => model.Senia.Vendedor.Nombre,
                new SelectList(ViewBag.VendedoresHabilitados, "Codigo", "Nombre"), "--Seleccionar Vendedor--",
                new { id = "ddlVendedores", @class = "large" })
        @Html.ValidationMessageFor(model => model.Senia.Vendedor)
    </div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label">
        Importe Seña
    </div>
    <div class="editor-field editor-field-small">
        @Html.DdlOrDisplayImporteFor(model => model.Senia.Importe, "Senia.Importe", modoConsulta)
        @Html.ValidationMessageFor(model => model.Senia.Importe.Monto)
    </div>
    <div class="clear-both"></div>
</div>
<div class="clear-both"></div>


<div class="dataLine">
    <div class="display-label">
        Precio Venta
    </div>
    <div class="editor-field editor-field-small">
        @Html.DdlOrDisplayImporteFor(model => model.Senia.PrecioVenta, "Senia.PrecioVenta", modoConsulta)
        @Html.ValidationMessageFor(model => model.Senia.PrecioVenta.Monto)
    </div>
    <div class="clear-both"></div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label">
        @Html.LabelForRequired(model => model.Senia.Sucursal)
    </div>
    <div class="editor-field editor-field-medium medium renglon-alto">
        @Html.DdlOrDisplayFor(model => model.Senia.Sucursal.Codigo, !cambiarSucursal || modoConsulta, model => model.Senia.Sucursal.Nombre,
                new SelectList(ViewBag.Sucursales, "Codigo", "Nombre"), null,
                new { id = "ddlSucursales", @class = "large" })
        @Html.ValidationMessageFor(model => model.Senia.Sucursal)
    </div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label ">
        @Html.LabelForRequired(model => model.Senia.asumeGastos)
    </div>
    <div>
        @{ if (!modoConsulta) {
            <div class="floatLeft">
                @Html.RadioButtonFor(model => model.Senia.asumeGastos, "Comprador", new { id = "rb_comprador" })  Comprador 
            </div>
            <div class="floatLeft" style="margin-left: 20px">
                @Html.RadioButtonFor(model => model.Senia.asumeGastos, "Vendedor", new { id = "rb_vendedor" })  Vendedor
            </div>
           } else {
            <div class="floatLeft">
                @(Model.Senia.asumeGastos)
            </div>
           }}
    </div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label ">
        Estado
    </div>
    <div class="editor-field editor-field-medium">
        <div class="floatLeft">
            @Model.Senia.DescripcionEstado
        </div>
        @{ if (botonConsulta && Model.Senia != null && Model.Senia.Codigo > 0) {
            <div style="margin-left: 12px" class="floatLeft">
                @(Html.Bootstrap().ActionLinkButton("Ver Seña", "Details", "Senias").RouteValues(new { id = Model.Senia.Codigo }).Class("btn-info  btn-small"))
            </div>
           }}
    </div>
</div>
<div class="clear-both"></div>

<div class="dataLine">
    <div class="display-label ">
        @Html.LabelForRequired(model => model.Senia.Observaciones)
    </div>
    <div class="editor-field editor-field-xxlarge">
        @Html.TextAreaOrDisplayFor(model => model.Senia.Observaciones, modoConsulta, new { style = "width: 530px; height: 60px" })
        @Html.ValidationMessageFor(model => model.Senia.Observaciones)

    </div>
</div>
<div class="clear-both"></div>


