@model AutomotoraWeb.Models.SeniaModel
@using AutomotoraWeb.Controllers.General;
@using DLL_Backend;
@using AutomotoraWeb.Controllers.Sales;
@using AutomotoraWeb.Models;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .botonDocumento {
        margin-right:10px;
    }
</style>


<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPrincipal" })) {
    
    <input type="hidden" name="idOperacion" id="idOperacion" value='@ViewData["idOperacion"]'/> 
    
    <div class="block">
        <div >
           <p class="block-heading"> Acciones</p>
        </div>
        <div class="block-body">
            @Html.Bootstrap().ActionLinkButton("Comprobante", "DocComprobanteSenia", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Senia.Codigo }).Class("btn btn-default botonDocumento")
            @{
                if (Model.Senia.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "CV_SENIA" })) {
                    @Html.Bootstrap().ActionLinkButton("Compromiso Compraventa", "DocCompromisoSenia", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Senia.Codigo }).Class("btn btn-default botonDocumento")
                }
                if (Model.Senia.DocumentosLegalesGenerables().Contains(new DocumentoLegal { Codigo = "PR_SENIA" })) {
                    @Html.Bootstrap().ActionLinkButton("Promesa", "DocPromesaSenia", DocumentacionLegalController.CONTROLLER).RouteValues(new { id = Model.Senia.Codigo }).Class("btn btn-default botonDocumento")
                }
                if (Model.PedidoVehiculo == 1) { 
                    @Html.Bootstrap().ActionLinkButton("Consulta Vehiculo", "Details", VehiculosController.CONTROLLER).RouteValues(new { id = Model.Senia.Vehiculo.Codigo }).Class("btn btn-info botonDocumento")
                }else{
                    @Html.Bootstrap().ActionLinkButton("Consulta Pedido", "Details", PedidosController.CONTROLLER).RouteValues(new { id = Model.Senia.Pedido.Codigo }).Class("btn btn-info botonDocumento")
                }
                if (Model.Senia.Vendida()) { 
                    @Html.Bootstrap().ActionLinkButton("Ver Venta", "Details", VentasController.CONTROLLER).RouteValues(new { id = Model.Senia.VentaAsociada().Codigo}).Class("btn btn-info botonDocumento")
                }  
                 if (Model.Senia.Devolvible()){
                       @(Html.Bootstrap().ActionLinkButton("Devolver", "Devolver", SeniasController.CONTROLLER).RouteValues(new { id = Model.Senia.Codigo }).Class("btn btn-primary botonDocumento"))
                }    
                if (Model.Senia.Vendible() && Model.Senia.Vehiculo!=null && Model.Senia.Vehiculo.Codigo>0) { 
                    @Html.Bootstrap().ActionLinkButton("Vender", "VentaVehiculo", VentasController.CONTROLLER).RouteValues(new { id = Model.Senia.Vehiculo.Codigo}).Class("btn btn-primary botonDocumento")
                }      
            }
        </div>
    </div>

}

 <div id="divDetalleSenia">
        @{ if  ( (Model.Senia.Vehiculo != null && Model.Senia.Vehiculo.Codigo > 0) ||
                  (Model.Senia.Pedido != null && Model.Senia.Pedido.Codigo > 0)) {
            @Html.Partial("_detallesSenia", Model);
       }}
    </div>