@model AutomotoraWeb.Models.ListadoSeniasModel
@using AutomotoraWeb.Controllers.Sales;
@using DLL_Backend;

@{
    ViewBag.Title = ViewBag.NombreEntidades + ": Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    select {
        width: 130px;
    }

    .labelAjustable {
        margin-right: 5px;
    }

    .separacion {
        margin-right: 25px;
    }

    .labelWidth {
        width: 80px !important;
    }

    .inputTextWidth {
        width: 120px;
    }

    .selectWidth {
        width: 100px !important;
    }

    fieldset {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    legend {
        margin-bottom: 10px;
    }
</style>


@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.idParametros)
    
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")      
    
    <div id="filtros" style="border: 1px solid #A3C0E8; margin-right: 5px">
        <div id="containerLinea1">
            <div id ="filtro_objeto" class="floatLeft">
                <fieldset id="field_objecto">
                    <legend>Seña sobre</legend>
                    <div>
                        @Html.RadioButtonFor(model => model.Filtro.Vehiculos, true, new { id = "rb_vehiculos" })  Vehiculos
                       
                    </div>
                    <div style="vertical-align: middle">
                        @Html.RadioButtonFor(model => model.Filtro.Vehiculos, false, new { id = "rb_pedidos" })  Pedidos
                         <div style="margin-left:30px;" id="filtro_pedidos">
                            <div class="">
                                @Html.CheckBoxFor(model => model.Filtro.PedidosPendientes, new { id="cb_pedidos_pendientes"}) Pendientes
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(model => model.Filtro.PedidosRecibidos, new { id="cb_pedidos_recibidos"}) Recibidos
                            </div>
                        </div>
                    </div>
                 </fieldset>
            </div>

            <div id="filtro_estado" class="floatLeft">
                <fieldset id="fieldsetEstado">
                    <legend>Estado</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.Filtro.Vigentes) Vigentes
                    </div>
                    <div>
                        @Html.CheckBoxFor(model => model.Filtro.Vendidas) Venta Realizada
                    </div>
                    <div>
                        @Html.CheckBoxFor(model => model.Filtro.Anuladas) Anuladas
                    </div>
                </fieldset>
            </div>

            <div id="filtro_sucursal" class="floatLeft">
                <fieldset id="fieldsetSucursal">
                    <legend>Sucursal</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarSucursal, new { id = "cb_filtrarSucursal" }) Filtrar Sucursal
                    </div>
                    <div style="margin-top: 10px;" id="sucursales">
                        @Html.DropDownListFor(model => model.Filtro.Sucursal.Codigo, new SelectList(ViewBag.SucursalesListado, "Codigo", "Nombre"))
                    </div>
                </fieldset>
            </div>

            <div id="filtro_fechas" class="floatLeft">
                <fieldset id="fieldsetFecha">
                    <legend>Fecha</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarFechas, new { id = "cb_filtrarPeriodo" }) Filtrar Periodo
                    </div>
                    <div id="periodo" style="margin-top: 10px;">
                        <div id="containerDesde">
                            <div class="floatLeft labelWidth" style="text-align: right; padding-right: 5px;">
                                <label>Desde</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small ">
                                @Html.TextBoxFor(model => model.Desde, "{0:dd/MM/yyyy}", new { id = "fdesde", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div id="containerHasta">
                            <div class="floatLeft labelWidth" style="text-align: right; padding-right: 5px;">
                                <label>Hasta</label>
                            </div>
                            <div class="floatRight editor-field editor-field-small">
                                @Html.TextBoxFor(model => model.Hasta, "{0:dd/MM/yyyy}", new { id = "fhasta", @class = "calendarAW floatRight" })
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="clear-both"></div> 

        </div>
         <div id="containerLinea2">
             <div id="filtro_cliente" class="floatLeft">
                <fieldset id="fieldsetcliente">
                    <legend>Cliente</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarCliente, new { id = "cb_filtrarCliente" }) Filtrar Cliente
                    </div>
                    <div style="margin-top: 10px;" id="clientes">
                        @Html.DropDownListFor(model => model.Filtro.Cliente.Codigo, new SelectList(ViewBag.ClientesListado, "Codigo", "Nombre"))
                    </div>
                </fieldset>
            </div>

            <div id="filtro_vendedor" class="floatLeft">
                <fieldset id="fieldsetVendedor">
                    <legend>Vendedor</legend>
                    <div>
                        @Html.CheckBoxFor(model => model.FiltrarVendedor, new { id = "cb_filtrarVendedores" }) Filtrar Vendedor
                    </div>
                    <div style="margin-top: 10px;" id="vendedores">
                        @Html.DropDownListFor(model => model.Filtro.Vendedor.Codigo, new SelectList(ViewBag.VendedoresListado, "Codigo", "Nombre"))
                    </div>
                </fieldset>
            </div>

              <div class="btn-toolbar floatLeft" style="margin-left: 70px">
                <div style="height: 0px; width: 100%"></div>
                <div class="btn-group">
                    <input type="submit" id="Submit1" title="Listar" class="btn btn-primary" name="btnSubmit" value="Actualizar" />
                </div>
                <div class="btn-group" style="margin-left: 10px">
                    <input type="submit" id="Submit2" class="btn btn-primary2-mf" name="btnSubmit" value="Imprimir" />
                </div>
            </div>

            <div class="clear-both"></div> 

        </div>

    </div>
}

<div id="divGrilla">
    @Html.Partial("_reportGrilla", Model)
</div>

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/SeniasListado.js"></script>
}


