@model AutomotoraWeb.Models.ChangePasswordModel
@using AutomotoraWeb.Controllers.Configuracion;

@{
    ViewBag.Title = "Cambiar clave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h5>Usuario:   @ViewBag.userName</h5>
    <div class="espacio2"></div>

<section id="changePwdForm">
       <div class="block-body">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            
            
    
            @Html.LabelFor(m => m.ActualPassword)
            @Html.PasswordFor(m => m.ActualPassword, new { @class = "span3" })
                    
            @Html.ValidationMessageFor(m => m.ActualPassword, null, new { @class = "text-error" })
                

            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-error" })

            @Html.LabelFor(m => m.RepeatNewPassword)
            @Html.PasswordFor(m => m.RepeatNewPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.RepeatNewPassword, null, new { @class = "text-error" })

            <div class="espacio2"></div>
            <div class="btn-toolbar">
                <input type="submit" value="Cambiar clave" class="btn btn-primary" />
                 @(Html.Bootstrap().ActionLinkButton("Cancelar", ConfiguracionController.INDEX, ConfiguracionController.CONFIG).Class("btn btn-default"))
                 
                 @*TODO: falta ajustar para que vuelva al menu del ultimo modulo accedido.*@

            </div>
            <div class="clearfix"></div>
         
            if ((Model != null) && (Model.ErrorCode != null)) {
                <div class="text-error">@Model.ErrorMessage</div>
            }

        }
    </div>
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


