@model AutomotoraWeb.Models.ChangePasswordModel

@{
    ViewBag.Title = "Cambiar clave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="loginForm">
       <div class="block-body">
        @using (Html.BeginForm(AutomotoraWeb.Controllers.General.AuthenticationController.CHANGE_PASSWORD, AutomotoraWeb.Controllers.General.AuthenticationController.AUTHENTICATION, FormMethod.Post)) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    
            @Html.LabelFor(m => m.ActualPassword)
            @Html.PasswordFor(m => m.ActualPassword, new { @class = "span3" })
                    
            @Html.ValidationMessageFor(m => m.ActualPassword, null, new { @class = "text-error" })
                

            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-error" })

            @Html.LabelFor(m => m.RepeatNewPassword)
            @Html.PasswordFor(m => m.RepeatNewPassword, new { @class = "span3" })
            @Html.ValidationMessageFor(m => m.RepeatNewPassword, null, new { @class = "text-error" })

            <div class="espacio2"></div>
            <div class="btn-toolbar">
                <input type="submit" value="Cambiar clave" class="btn btn-primary" />
            </div>
            <div class="clearfix"></div>
         
            if ((Model != null) && (Model.ErrorCode != null)) {
                if (Model.ErrorCode.Equals("U001")) { 
            <div class="text-error">@Model.ErrorMessage</div>
                } else if (Model.ErrorCode.Equals("U002")) {
            <div class="text-error">Error en el Servidor, contactese con soporte tecnico</div>
                }
            }

        }
    </div>
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


