@model AutomotoraWeb.Models.ChangePasswordModel

@{
    ViewBag.Title = "Cambiar contrase&ntilde;a";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}

<section id="loginForm">
    <p class="block-heading">Inicio de sesión</p>
    <div class="block-body">
        @using (Html.BeginForm(AutomotoraWeb.Controllers.AuthenticationController.CHANGE_PASSWORD, AutomotoraWeb.Controllers.AuthenticationController.AUTHENTICATION, FormMethod.Post)) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    

            @Html.LabelFor(m => m.ActualPassword)
            @Html.PasswordFor(m => m.ActualPassword, new { @class = "span12" })
            @Html.ValidationMessageFor(m => m.ActualPassword, null, new { @class = "text-error" })

            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "span12" })
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-error" })

            @Html.LabelFor(m => m.RepeatNewPassword)
            @Html.PasswordFor(m => m.RepeatNewPassword, new { @class = "span12" })
            @Html.ValidationMessageFor(m => m.RepeatNewPassword, null, new { @class = "text-error" })

            <input type="submit" value="Cambiar contrase&ntilde;a" class="btn btn-primary pull-right" />
            <div class="clearfix"></div>
         
            if ((Model != null) && (Model.ErrorCode != null)){
                if (Model.ErrorCode.Equals("U001")) 
                { 
                    <div class="text-error">@Model.ErrorMessage</div>
                } 
                else if (Model.ErrorCode.Equals("U002")) 
                {
                    <div class="text-error">Error en el Servidor, contactese con soporte t&eacute;cnico</div>
                }
            }

        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


