@model DLL_Backend.Pedido
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Sales;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Se han producido errores:")

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Codigo)

        @Html.Partial("_datosDetalle", Model)

    </fieldset>
    
    <div class="espacio2"></div>
    
    <div class="btn-toolbar">
        @if (Model.EstadoRecibible) { 
        @(Html.Bootstrap().ActionLinkButton("Recibir", PedidosController.RECIBIR).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
        
        }
        @(Html.Bootstrap().ActionLinkButton("Modificar", BaseController.EDIT).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
        @(Html.Bootstrap().ActionLinkButton("Eliminar", BaseController.DELETE).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
        @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default").Title("Volver a Lista"))
    </div>

}


@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/PedidosGestion.js"></script>
}

